$code-background-color: db-background-color('secondary');

#rsg-root {
  .rsg--hasSidebar-2 {
    @media (min-width: 801px) {
      padding-left: 2 * db-spacing('xxxl');
    }
    @media (min-width: 1201px) {
      padding-left: 3 * db-spacing('xxxl');
    }
  }

  li[class^='rsg--item-'] {
    @include db-text-style('copy', 'm');
    overflow: visible;

    a {
      @include db-primary-link($text-color: db-text-color('primary'), $underline: false);
    }
  }

  div[class^='rsg--sidebar-'] {
    background: db-palette-color('violet100');
    background: db-background-color('secondary');
    border: 0;

    @media (min-width: 801px) {
      width: 2 * db-spacing('xxxl');
    }
    @media (min-width: 1201px) {
      width: 3 * db-spacing('xxxl');
    }
  }

  nav [class^='rsg--search'] {
    // Styleguidist doesn’t know about our themes
    --db-primary-background-color: #{db-palette-color('coolgray100')};
    --db-secondary-background-color: #{db-palette-color('white')};
    @extend .db-textfield;
    @extend .db-textfield--m;
    margin: db-spacing('m');
    padding: 0;
  }

  [class^='rsg--heading-'] a {
    @include db-secondary-link($underline: false);
  }

  [class^='rsg--header-'] h2[class^='rsg--heading-'],
  h1[class^='rsg--heading-'] {
    @include db-text-style('title', 'xxl');
    color: db-text-color('primary');
    margin-bottom: db-spacing('m');
  }

  h2[class^='rsg--heading-'] {
    @include db-text-style('title', 'l');
    color: db-text-color('primary');
    margin-top: db-spacing('xxl');
    margin-bottom: db-spacing('m');
  }

  h3[class^='rsg--heading-'] {
    @include db-text-style('title', 'm');
    color: db-text-color('primary');
    margin-top: db-spacing('xxl');
    margin-bottom: db-spacing('m');

    a {
      @include db-primary-link;
    }
  }

  .rsg--spacing-34 + .rsg--spacing-34 h3[class^='rsg--heading-'] {
    margin-top: db-spacing('l');
  }

  h4[class^='rsg--heading-'] {
    @include db-text-style('copy', 'm');
    color: db-text-color('primary');
    font-weight: db-font-weight('copy', 'bold');
    margin-top: db-spacing('l');
    margin-bottom: db-spacing('m');
  }

  [class^='rsg--para-'],
  [class^='rsg--li-'] {
    @include db-text-style('copy', 'm');
    color: db-text-color('primary');
    margin-bottom: db-spacing('m');

    a {
      @include db-primary-link;
    }

    strong,
    em {
      font-family: inherit;
    }

    code {
      background: db-palette-color('blue100');
      border-radius: db-border-radius('xs');
      color: db-palette-color('blue700');
      font-family: monospace;
      font-size: 1.2em;
      padding: 2px 0.3em;
    }
  }

  [class^='rsg--li-'] {
    margin-bottom: db-spacing('s');
  }

  [class^='rsg--ul-'],
  [class^='rsg--ol-'] {
    margin-bottom: db-spacing('m');
  }

  [class^='rsg--spacing-34'] {
    margin: 0;
  }

  [class^='rsg--root-'] {
    overflow: visible !important;
  }

  [class^='rsg--preview-'] {
    border: none;
    border-radius: db-border-radius('l') db-border-radius('l') 0 0;
    padding: 0 0 db-spacing('sm') !important;

    + [class^='rsg--controls-'] {
      display: none;
    }

    ~ [class^='rsg--tab-'] [class^='rsg--root-'] {
      border: 0;
      border-radius: db-border-radius('l');
      margin: 0 -2px;
    }
  }

  [class^='rsg--root-'] > textarea {
    background: $code-background-color !important;
    border-color: $code-background-color !important;
    @include db-focus-ring;
    border-radius: inherit;
    border-width: 1px;
    padding: db-spacing('sm') db-spacing('m') !important;
  }

  [class^='rsg--root-'] > div > pre,
  textarea + pre {
    background: $code-background-color;
    border-radius: db-border-radius('l');
    white-space: pre;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: db-spacing('sm') db-spacing('m') !important;

    .token.script {
      color: db-palette-color('blue700');
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata,
    .token.punctuation {
      color: db-palette-color('coolgray400');
      font-weight: normal;
    }

    .token.number {
      color: db-palette-color('green600');
      font-weight: normal;
    }

    .token.property,
    .token.deleted {
      color: db-palette-color('cyan600');
      font-weight: normal;
    }

    .token.namespace,
    .token.constant {
      color: db-palette-color('blue700');
      font-weight: normal;
    }

    .token.string,
    .token.char,
    .token.attr-value {
      color: db-palette-color('lightgreen600');
      font-weight: normal;
    }

    .token.symbol,
    .token.selector,
    .token.attr-name,
    .token.builtin,
    .token.url,
    .token.inserted {
      color: db-palette-color('blue400');
      font-weight: normal;
    }

    .token.entity {
      color: db-palette-color('green400');
      font-weight: normal;
    }

    .token.tag,
    .token.atrule,
    .token.keyword,
    .token.boolean {
      color: db-palette-color('blue500');
      font-weight: bold;
    }

    .token.function {
      color: db-palette-color('turquoise600');
      font-weight: normal;
    }

    .token.regex,
    .token.important {
      color: db-palette-color('lightgreen500');
      font-weight: normal;
    }

    .token.variable {
      color: db-palette-color('violet600');
      font-weight: normal;
    }

    .token.important,
    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }

    .token.interpolation-punctuation {
      color: db-palette-color('green400');
    }

    .token.operator,
    .token.title {
      color: db-palette-color('coolgray500');
    }
  }

  footer[class^='rsg--footer-'] {
    display: none;
  }

  [class^='rsg--root-'] > div > pre {
    margin-bottom: db-spacing('l');
  }
}

.space-inbetween div * + * {
  margin-left: db-spacing('m');
}

::selection {
  background: rgba(db-palette-color('blue500'), 0.15);
  text-shadow: none;
}

main.rsg--content-3 {
  max-width: 8 * db-spacing('xxxl');
  margin: 0 auto 0 db-spacing('xxxl');
  padding: 0;

  .db-container--filled {
    padding-bottom: db-spacing('m');
    padding-top: db-spacing('m');
  }

  .db-container:not(.db-container--filled) {
    background: rgba(db-palette-color('turquoise300'), 0.1);
    border: 1px db-palette-color('turquoise300') dashed;
    padding: 1px; // visually separate nested borders
  }

  .db-container--extended:not(.db-container--filled) {
    background: rgba(db-palette-color('yellow400'), 0.1);
    border-color: db-palette-color('yellow400');
  }

  .db-container--content:not(.db-container--filled) {
    background: rgba(db-palette-color('pink300'), 0.1);
    border-color: db-palette-color('pink300');
  }

  .db-container--text:not(.db-container--filled) {
    background: rgba(db-palette-color('cyan300'), 0.1);
    border-color: db-palette-color('cyan300');
  }

  .db-container--primary,
  .db-container--secondary {
    padding: 16px 0;
  }
}

.sg-icon-overview {
  display: grid;
  gap: db-spacing('ml');
  grid-template-columns: 1fr 1fr;
  width: 8 * db-spacing('xxxl');

  li {
    display: block;
  }
}

#rsg-root nav > ul {
  padding-left: 10px;

  > li[class^='rsg--item-'] {
    @include db-text-style('copy', 'l');
    color: var(--db-primary-text-color);
    font-family: db-font-family('title');
    font-weight: db-font-weight('title', 'bold');
    text-decoration: none;
    display: block;
    padding: #{db-spacing('sm') * 0.5} db-spacing('m');
    transition: color 0.15s ease-in;
    li {
      @include db-text-style('copy', 's');
      font-weight: normal;
    }
  }
}

#rsg-root [class^='rsg--pathline'] {
  display: none;
}

#rsg-root [class^='rsg--button-'] {
  @extend .db-button--solid;
  @extend .db-button--s;
  text-transform: none;
}

h1[class^='rsg--heading'],
.rsg--logo-5 {
  display: none;
}

// Tables
#rsg-root [class^='rsg--table'] {
  margin: db-spacing('m') 0 db-spacing('l');

  [class^='rsg--cellHeading'] {
    @include db-text-style('copy', 's');
    color: var(--db-secondary-text-color);
  }

  [class^='rsg--name'],
  [class^='rsg--type'],
  [class^='rsg--code'],
  [class^='rsg--text'] {
    @include db-text-style('copy', 'm');
    background: transparent;
    padding: 0;
  }

  [class^='rsg--name'] {
    color: db-palette-color('lightgreen600');
  }

  [class^='rsg--type'] {
    color: db-palette-color('blue400');
  }

  [class^='rsg--code'] {
    color: var(--db-secondary-text-color);
  }
}

#rsg-root [data-testid='Button-isolate-button'] {
  @extend .db-button--hover-only;
  @extend .db-button--round;
  @extend .db-button--m;
}
