.sg-color-swatch {
  height: 350px;
  width: 50%;
  float: left;
  overflow: hidden;
  position: relative;
}

.sg-color-swatch--accent {
  height: 250px;
  width: 25%;
}

.sg-color-swatch__info {
  height: 46%;

  &::before {
    font-size: 1.5rem;
    display: block;
    margin: 1rem;
  }

  &::after {
    font-size: 1rem;
    display: block;
    margin: 1rem;
  }
}

.sg-color-swatch__values {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  white-space: pre; /* or pre-wrap */
  line-height: 1.5;
}

@mixin color-swatch($key) {
  .sg-color-swatch--#{$key} {
    background-color: color($key);
    color: dbx-color($key, $prop: default-text);

    .sg-color-swatch__info {
      &::before {
        content: '#{dbx-color($key, $prop: sg-name)}';
      }

      &::after {
        content: 'key: #{$key}';
      }
    }

    .sg-color-swatch__values {
      &::after {
        content: '#{dbx-color($key)}';
      }
    }
  }
}

$color-swatches: 'brand-primary' 'brand-secondary';

@each $key in $color-swatches {
  @include color-swatch($key);
}
