$shadow--low: 0 2px 4px rgba(155, 160, 170, 0.8);
$shadow--high: 0 6px 16px rgba(135, 140, 150, 0.5);
$shadow--primary: 0 2px 4px rgba(252, 196, 196, 1);

.sg-page {
  @include dbx-text-style('copy');
  color: dbx-text-color('primary');
  padding: dbx-spacing('l');
  margin: 0 auto;
  max-width: 64em;
}

.sg-page > h2 {
  @include dbx-text-style('title', 'xl');
}

.sg-section h3 {
  @include dbx-text-style('title', 'm');
}

.sg-code-preview {
  display: inline-block;
  margin: dbx-spacing('s') 0;
  padding: dbx-spacing('s') dbx-spacing('m');
  font-family: Courier, monospace;
  font-size: 14px;
  background-color: dbx-background-color('secondary');
  border-radius: dbx-border-radius('s');
}

.sg-section {
  padding: 24px 0;
}

.sg-section__heading {
  font-size: 1.5em;
  margin-bottom: dbx-spacing('ml');
}

.sg-card-group {
  display: flex;
  flex-flow: row wrap;
  margin: dbx-spacing('m', $negative: true);
}

.sg-card-group--icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sg-card-group__item {
  flex: 0 1 20%;

  .sg-card-group--horizontal & {
    flex: 0 1 100%;
  }
}

.sg-card {
  min-width: 120px;
  margin: dbx-spacing('m');
  box-shadow: $shadow--low;
  background-color: dbx-background-color('primary');
  border-radius: dbx-border-radius('xl');
  overflow: hidden;

  .sg-card-group--horizontal & {
    align-items: center;
    display: flex;
  }
}

.sg-card__preview {
  @include dbx-fixed-ratio(1);
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding: dbx-spacing('m');
  position: relative;

  .sg-card-group--horizontal & {
    width: dbx-spacing('xxxl');
  }

  .sg-card-group--icons & {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: dbx-palette-color('coolgray100');

    &::before {
      display: none;
    }
  }
}

.sg-card-group__icon {
  align-items: center;
  border-radius: 50%;
  background-color: dbx-palette-color('coolgray200');
  display: inline-flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.sg-card__content {
  padding: dbx-spacing('s') dbx-spacing('m');
  text-align: center;

  .sg-card-group--horizontal & {
    text-align: left;
  }
}

.sg-text-style {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8px" height="8px"><style>path{stroke-antialiasing:true;fill:red;stroke:%23E0EFFB;stroke-linecap:square;stroke-width:3px;stroke-opacity:.5}</style><path d="M4 0 0 4"/><path d="M8 4 4 8"/></svg>');
  margin: dbx-spacing('s') 0 dbx-spacing('l');
  padding: dbx-spacing('m') dbx-spacing('ml');
}

@each $size in (s m l xl xxl) {
  .sg-text-style--title-#{$size} {
    @include dbx-text-style('title', $size);
  }
}

@each $size in (xs s m l) {
  .sg-text-style--copy-#{$size} {
    @include dbx-text-style('copy', $size);
  }
}

.sg-headline-with-margin {
  margin: dbx-spacing('l') 0 dbx-spacing('m');
}

.sg-spacing {
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8px" height="8px"><style>path{stroke-antialiasing:true;fill:red;stroke:%23fcd0d0;stroke-linecap:square;stroke-width:3px}</style><path d="M4 0 0 4"/><path d="M8 4 4 8"/></svg>');
  border: dbx-border-width('input') dbx-color('brand') solid;
}

.sg-table {
  min-width: 700px;

  td,
  th {
    padding: dbx-spacing('s');
  }

  thead th {
    @include dbx-text-style('copy', 's');
    font-weight: dbx-font-weight('copy', 'bold');
    padding-top: unset;
  }

  th {
    text-align: left;
  }

  tbody tr {
    border-top: 1px dbx-color('background.secondary') solid;
  }
}

.sg-not-allowed {
  $color: dbx-palette-color('pink500');
  background: linear-gradient(
    -45deg,
    transparent calc(50% - 1px),
    #{$color} 0,
    #{$color} calc(50% + 1px),
    transparent 0
  );
  opacity: 0.5;
}

.sg-components-transportationchip-list {
  line-height: 32px !important;

  > div {
    display: flex;
    flex-wrap: wrap;
  }

  & + & {
    margin-top: dbx-spacing('xl');
  }

  p + p {
    margin-top: dbx-spacing('s');
  }

  .dbx-transportchip {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
