.db-status {
  @include db-text-style('copy', 's');
  align-items: baseline;
  display: inline-flex;
  color: var(--db-primary-text-color);

  svg {
    $icon-safe-area: 2px;
    flex-shrink: 0;
    height: db-icon-size('s');
    margin: 0 db-spacing('xs') 0 #{-$icon-safe-area};
    position: relative;
    top: 5px;
    width: db-icon-size('s');
  }

  path {
    fill: transparent;
    stroke: db-palette-color('white');
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  circle {
    fill: db-palette-color('coolgray500');
  }

  circle + circle {
    fill: db-palette-color('white');
  }
}

.db-status--success circle {
  fill: db-color('success');
}

.db-status--error,
.db-status--fatal {
  color: #db0014;

  circle {
    fill: db-palette-color('red500');
  }
}

.db-status__message {
  display: inline-block;
}
