@import 'sass-to-js/sass/sass-to-js';

@import '@bahn-x/dbx-style/constants/colors';
@import '@bahn-x/dbx-style/constants/text-styles';
@import '@bahn-x/dbx-style/constants/spacing';
@import '@bahn-x/dbx-style/constants/shadows';

:export {
  // stylelint-disable property-no-unknown
  colors: sassToJs($dbx-colors);
  textStyles: sassToJs($dbx-text-styles);
  spacing: sassToJs($dbx-spacing);
  shadows: sassToJs($dbx-shadows);
  // stylelint-enable property-no-unknown
}




