@import '@bahn-x/styles/abstracts.scss';

.db-textfield {
  @include db-focus-ring(
    $focus-selector: ':focus-within',
    $transition: 'border 200ms'
  );
  align-items: stretch;
  background-color: var(--db-secondary-background-color);
  border: db-border-width('input') solid var(--db-secondary-background-color);
  box-sizing: border-box;
  color: var(--db-field-secondary-text-color);
  display: inline-flex;
  font-family: db-font-family('copy');
  vertical-align: top;

  &:not(.db-textfield--disabled) {
    cursor: text;
  }

  /**
   * 1. Remove red shadow when validation fails (Firefox)
   */
  input,
  textarea {
    border: 0;
    background: transparent;
    box-shadow: none; /* 1 */
    color: var(--db-field-primary-text-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    flex: 1;
    margin: 0;
    outline: 0;
  }

  input::-ms-clear {
    display: none;
  }

  ::placeholder {
    color: var(--db-field-secondary-text-color);
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    opacity: 0.5;
  }
}

.db-textfield--disabled,
.db-textfield--readonly {
  background: transparent;
  border-color: var(--db-secondary-background-color);

  input,
  textarea {
    color: var(--db-disabled-text-color);
  }
}

.db-textfield--readonly.db-textfield--focus {
  border-color: transparent;
}

/**
 * 2. Fixes a Safari bug not applying colors via variables when disabled
 */
.db-textfield--disabled {
  color: var(--db-disabled-text-color);
  -webkit-text-fill-color: var(--db-disabled-text-color); /* 2 */
}

.db-textfield--textarea {
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    background: linear-gradient(to top, transparent);
    bottom: 0;
    content: '';
    height: db-spacing('s');
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

  &::before {
    top: 0;
    transform: rotate(180deg);
  }
}

.db-textfield-prefix,
.db-textfield-suffix {
  transition: transform 0.2s;
}

.db-textfield__inline-label {
  pointer-events: none;
  position: absolute;
  transition: all 0.2s;
  transform-origin: 0 0;
}

/**
  * 1. Calculating the scaling from M to S.
  * 2. Prefer `scale` over `font-size` for smooth transitions.
  */
.db-textfield:focus-within .db-textfield__inline-label,
.db-textfield--filled .db-textfield__inline-label {
  $scale-down: db-font-size('copy', 's') / db-font-size('copy', 'm'); /* 1 */
  transform: scale(#{$scale-down}) translateY(-12px); /* 2 */
}

.db-textfield--inline-label {
  ::placeholder {
    color: transparent;
    transition: color 0.2;
  }

  &.db-textfield--focus ::placeholder {
    color: var(--db-secondary-background-color);
  }

  input,
  &.db-textfield--filled .db-textfield-prefix,
  &.db-textfield--filled .db-textfield-suffix,
  &.db-textfield--focus .db-textfield-prefix,
  &.db-textfield--focus .db-textfield-suffix {
    transform: translateY(8px);
  }
}

@each $size in (xl l m s xs) {
  .db-textfield--#{$size} {
    $horizontal-padding: db-component-horizontal-padding($size, 'input');
    $vertical-padding: db-component-vertical-padding($size, 'input');

    @include db-component-text-style($size, 'input');

    border-radius: db-border-radius($size);
    min-height: db-size($size);

    input,
    textarea,
    .db-textfield-prefix {
      padding-left: $horizontal-padding;
    }

    input,
    textarea,
    .db-textfield-suffix {
      padding-right: $horizontal-padding;
    }

    /**
      * 1. Equals a Thin Space character
      * 2. Icons/Buttons should have equal margin to the border on all sides
      */
    .db-textfield-prefix {
      margin-right: calc(0.15em - #{$horizontal-padding}); /* 1 */

      > * {
        display: block; /* 2 */
        margin-right: 0.15em;
        transform: translateX(#{$vertical-padding - $horizontal-padding}); /* 2 */
      }
    }

    .db-textfield-suffix {
      margin-left: calc(0.15em - #{$horizontal-padding}); /* 1 */

      > * {
        display: block; /* 2 */
        margin-right: 0.15em;
        transform: translateX(#{$horizontal-padding - $vertical-padding}); /* 2 */
      }
    }

    .db-textfield--textarea {
      &::before,
      &::after {
        left: $horizontal-padding;
        right: $horizontal-padding;
      }
    }

    .db-textfield__inline-label {
      margin-left: $horizontal-padding;
    }

    input,
    textarea,
    .db-textfield-prefix,
    .db-textfield-suffix,
    .db-textfield__inline-label {
      border-radius: db-border-radius($size);
      padding-bottom: $vertical-padding;
      padding-top: $vertical-padding;
    }
  }
}

/**
  * 3. Negative margins as Buttons are higher than the expected line-height
  */
.db-textfield {
  @each $size in (xl l m s xs) {
    .db-button--#{$size} {
      margin: #{(db-line-height('copy', 'm') - db-size($size)) / 2};
    }
  }
}
