@mixin db-component-padding($size, $border-width-key) {
  padding: #{db-component-padding-top($size, $border-width-key)} #{db-component-horizontal-padding($size,
  $border-width-key)} #{db-component-padding-bottom($size, $border-width-key)};
}

@mixin db-component-text-style($size, $border-width-key) {
  $textsize: db-component-textsize($size);
  font-family: db-font-family('copy');
  font-size: db-font-size('copy', $textsize);
  line-height: db-component-line-height($size, $border-width-key);
}
