/**
 * 1. For IE high-contrast mode which ignores `box-shadow` but will make `outline` visible
 */

/// Adds an focus ring in DB style including transitions
/// @param {String} $transition - Additional transitions (quoted as string)
/// @param {String} $target - Child selector which should display the focus ring (quoted as string)
/// @param {String} $focus-selector - Use class name instead of :focus selector (quoted as string)
/// @param {Number} $size - Size in px (border width) of the focus ring
/// @param {Number} $grow - Additional grow size in px used for the transition
/// @param {Color} $color - Color of the focus ring; may use an alpha value
@mixin db-focus-ring(
  $transition: [],
  $target: '',
  $focus-selector: ':focus',
  $size: $focus-ring-size,
  $grow: $focus-ring-grow,
  $color: var(--db-focus-ring-color),
  $offset-color: var(--db-primary-background-color),
  $border: false,
  $parent: false,
  $offset: $focus-ring-offset
) {
  @if $parent == false {
    outline: 0;
  }

  #{db-focus-ring-target-selector($target)} {
    @content;
    box-shadow: transparent 0 0 0 (2 * $offset), transparent 0 0 0 ($size + $grow);
    @if length($transition) > 0 {
      transition: unquote($transition), $focus-ring-transition;
    } @else {
      transition: $focus-ring-transition;
    }
  }

  #{db-focus-ring-focussed-target-selector($target, $focus-selector)} {
    box-shadow: $offset-color 0 0 0 $offset, $color 0 0 0 ($size + $offset);
    outline: 2px transparent; /* 1 */
  }
}

/// Adds an focus ring in DB style including transitions for text links (including rounded corners and spacing)
/// @param {String} $transition - Additional transitions (quoted as string)
/// @param {String} $target - Child selector which should display the focus ring (quoted as string)
/// @param {Number} $size - Size in px (border width) of the focus ring
/// @param {Number} $grow - Additional grow size in px used for the transition
/// @param {Color} $color - Color of the focus ring; may use an alpha value
@mixin db-focus-ring-for-text(
  $transition: [],
  $target: '',
  $focus-selector: ':focus',
  $size: $focus-ring-size,
  $grow: $focus-ring-grow,
  $color: var(--db-focus-ring-color)
) {
  @include db-focus-ring(
    $transition: $transition,
    $target: $target,
    $focus-selector: $focus-selector,
    $size: $size,
    $grow: $grow,
    $color: $color,
    $offset: 0
  ) {
    border-radius: 0.15em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

/// Builds the selector for the target element before getting the focus
@function db-focus-ring-target-selector($target) {
  @return unquote(if($target == '', '&', $target));
}

/// Builds the selector for the target element having the focus
@function db-focus-ring-focussed-target-selector($target, $focus-selector) {
  @if (str-index($target, $focus-selector)) {
    // If the selector already includes the focus state, it was set manually on purpose.
    @return unquote($target);
  }
  @return unquote('&' + $focus-selector + ' ' + $target);
}
