/// Styles link including hover and pressed styles
/// @param {String} $text-color - The default text-color
/// @param {String} $text-color--hover - The text-color used on hover
/// @param {String} $text-color--pressed - The text-color used on press (:active)
@mixin db-link($text-color, $text-color--hover, $text-color--pressed) {
  @include db-focus-ring-for-text;
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color--hover;
  }

  &:active {
    color: $text-color--pressed;
  }
}

/// Styles a primary link including hover and pressed styles
/// @param {String} $text-color - The default text-color
/// @param {String} $text-color--hover - The text-color used on hover
/// @param {String} $text-color--pressed - The text-color used on press (:active)
@mixin db-primary-link(
  $text-color: var(--db-link-color),
  $text-color--hover: var(--db-link-hover-color),
  $text-color--pressed: var(--db-link-pressed-color)
) {
  @include db-link($text-color, $text-color--hover, $text-color--pressed);
}

/// Styles a primary link including hover and pressed styles
/// @param {String} $text-color - The default text-color
/// @param {String} $text-color--hover - The text-color used on hover
/// @param {String} $text-color--pressed - The text-color used on press (:active)
@mixin db-secondary-link(
  $text-color: var(--db-primary-text-color),
  $text-color--hover: var(--db-link-hover-color),
  $text-color--pressed: var(--db-link-pressed-color)
) {
  @include db-link($text-color, $text-color--hover, $text-color--pressed);
}
