/// Example values for colors
/// @group Colors
$dbx-colors: (
  'primary': (
    'dbRed': #ec0016,
    'darkGrey': #3c414b,
    'activeBlue': #148ae9,
    'white': #fff
  ),
  'secondary': (
    'dbRed75': #f4504e,
    'dbRed50': #f78a89,
    'dbRed25': #fcc4c4,
    'grey': #646973,
    'grey75': #9ba0aa,
    'grey50': #c8cdd2,
    'grey25': #e1e6eb,
    'grey10': #fbfbfd
  ),
  'alert': (
    'alertGreen': #008000,
    'alertOrange': #d66707,
    'alertRed': #b20000
  ),
  'transportation': (
    'uBahn': #375fc3,
    'bus': #ff8c00,
    'airplane': #009b7c,
    'ec': #646973,
    'sBahn': #408335,
    'ic': #3c414b,
    'parking': #23419b,
    'ferry': #227ea0,
    'tram': #c8247f,
    'fernbus': #32b0b9,
    're': #878c96,
    'taxi': #ffcd00,
    'rb': #afb4bb
  )
) !default;

$dbx-colors--flat: ();

@each $colors-category in map-values($dbx-colors) {
  $dbx-colors--flat: map-merge($dbx-colors--flat, $colors-category);
}
