@import '@bahn-x/dbx-foundation/abstracts.scss';
@import '@bahn-x/dbx-foundation/mixins/focus-ring';

.dbx-transportchip {
  $height: 24px;

  background: dbx-palette-color('coolgray500');
  border-radius: #{dbx-spacing('xs') / dbx-size('xs') * $height};
  color: dbx-palette-color('white');
  display: inline-block;
  height: $height;
  line-height: $height;
  white-space: nowrap;
}

.dbx-transportchip__icon {
  display: inline-block;
  vertical-align: top;

  &:not(:only-child) {
    margin: 0 1px;
  }
}

.dbx-transportchip__text {
  @include dbx-text-style('copy', 's');
  font-weight: dbx-font-weight('copy', 'bold');
  margin-right: 0.1em; // = more space than “S1”, less space than “S 1”
  vertical-align: (dbx-font-size('copy', 'm') - dbx-font-size('copy', 's')) / 2;

  &:last-child {
    margin-right: 0.43em; // like padding-right of the badge, but depending on the font-size
  }
}

.dbx-transportchip--tram {
  background: dbx-background-color('transportation.tram');
  color: dbx-text-color('transportation.tram');
}

.dbx-transportchip--airplane {
  background: dbx-background-color('transportation.airplane');
  color: dbx-text-color('transportation.airplane');
}

.dbx-transportchip--bus {
  background: dbx-background-color('transportation.bus');
  color: dbx-text-color('transportation.bus');
}

.dbx-transportchip--ec {
  background: dbx-background-color('transportation.ec');
  color: dbx-text-color('transportation.ec');
}

.dbx-transportchip--ferry {
  background: dbx-background-color('transportation.ferry');
  color: dbx-text-color('transportation.ferry');
}

.dbx-transportchip--ic {
  background: dbx-background-color('transportation.ic');
  color: dbx-text-color('transportation.ic');
}

.dbx-transportchip--ice {
  background: dbx-background-color('transportation.ice');
  color: dbx-text-color('transportation.ice');
}

.dbx-transportchip--rb {
  background: dbx-background-color('transportation.rb');
  color: dbx-text-color('transportation.rb');
}

.dbx-transportchip--re {
  background: dbx-background-color('transportation.re');
  color: dbx-text-color('transportation.re');
}

.dbx-transportchip--sbahn {
  background: dbx-background-color('transportation.sbahn');
  color: dbx-text-color('transportation.sbahn');
}

.dbx-transportchip--ubahn {
  background: dbx-background-color('transportation.ubahn');
  color: dbx-text-color('transportation.ubahn');
}

.dbx-transportchip--taxi {
  background: dbx-background-color('transportation.taxi');
  color: dbx-text-color('transportation.taxi');
}

.dbx-transportchip--intercitybus {
  background: dbx-background-color('transportation.intercitybus');
  color: dbx-text-color('transportation.intercitybus');
}

.dbx-transportchip--bikesharing {
  // TODO: FIX TYPO in DBX Tokens: bikeharing
  background: dbx-background-color('transportation.bikeharing');
  color: dbx-text-color('transportation.bikeharing');
}

.dbx-transportchip--carsharing {
  background: dbx-background-color('transportation.carsharing');
  color: dbx-text-color('transportation.carsharing');
}
