// stylelint-disable selector-no-qualifying-type, max-nesting-depth
@import '@bahn-x/dbx-foundation/abstracts.scss';
@import '@bahn-x/dbx-foundation/mixins/focus-ring';

@mixin dbx-transportchip-default-border-radius {
  border-radius: 1em / dbx-font-size('copy', 'm') * dbx-border-radius('s');
  margin: 0; // Reset overlap
}

@mixin dbx-transportchip-border($px, $color) {
  $border-in-em: $px / 1px * 0.0625em;
  border: $border-in-em $color solid;
  line-height: #{1.75em - 2 * $border-in-em};
}

$dbx-transportchip-overlap: 1em / dbx-font-size('copy', 'm') * 1px;

.dbx-transportchip {
  background: transparent;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  transition: filter 0.2s ease-in;
  white-space: nowrap;
}

.dbx-transportchip__line {
  @include dbx-transportchip-default-border-radius;
  background: dbx-palette-color('coolgray500');
  box-sizing: border-box;
  color: dbx-palette-color('white');
  display: inline-block;
  height: 1.75em;
  line-height: 1.75em;
  min-width: 1.75em;
  padding: 0 1em / dbx-font-size('copy', 'm') * dbx-spacing('s');
  position: relative;
  text-align: center;
  white-space: nowrap;

  & + & {
    margin-left: dbx-spacing('xs') / dbx-font-size('copy', 'm') * 1em;
  }
}

a.dbx-transportchip,
button.dbx-transportchip {
  @include dbx-focus-ring($target: '.dbx-transportchip__line');
  text-decoration: none;

  &:hover {
    filter: brightness(0.9) saturate(1.1);
  }

  &:active {
    filter: brightness(0.7) saturate(1.3);
  }
}

.dbx-transportchip__transport-logo {
  // Round shapes (like S-Bahn) need to visually overlap by 1px
  $size: 1.75em;
  $size: 1em / dbx-font-size('copy', 'm') * dbx-line-height('copy', 'm') + 2 *
    $dbx-transportchip-overlap;
  $size: 1em / dbx-font-size('copy', 'm') * dbx-size('s') + 2 *
    $dbx-transportchip-overlap;
  display: inline-block;
  height: $size;
  margin: #{-$dbx-transportchip-overlap} #{0.25em - $dbx-transportchip-overlap} #{-$dbx-transportchip-overlap}
    #{-$dbx-transportchip-overlap};
  position: relative;
  vertical-align: 1em / dbx-font-size('copy', 'm') * -8px;
  width: $size;
  transform: translateZ(0);
}

.dbx-transportchip__text {
  font-family: dbx-font-family('copy');
  font-size: 0.92em;
  font-weight: dbx-font-weight('copy', 'bold');
  line-height: 1;
  margin-right: 0.25em; // = a space character
  vertical-align: (dbx-font-size('copy', 'm') - dbx-font-size('copy', 's')) / 2;
  vertical-align: 0.05em;

  &:last-child {
    margin-right: 0;
  }
}

.dbx-transportchip__text--short-prefix {
  margin-right: 0.1em; // = more space than “S1”, less space than “S 1”
}

.dbx-transportchip--tram {
  background: dbx-background-color('transportation.tram');
  color: dbx-text-color('transportation.tram');
}

.dbx-transportchip--airplane {
  background: dbx-background-color('transportation.airplane');
  color: dbx-text-color('transportation.airplane');
}

.dbx-transportchip--bus {
  background: dbx-background-color('transportation.bus');
  color: dbx-text-color('transportation.bus');
}

.dbx-transportchip--ec {
  background: dbx-background-color('transportation.ec');
  color: dbx-text-color('transportation.ec');
}

.dbx-transportchip--ferry {
  background: dbx-background-color('transportation.ferry');
  color: dbx-text-color('transportation.ferry');
}

.dbx-transportchip--ic,
.dbx-transportchip--national {
  background: dbx-background-color('transportation.ic');
  color: dbx-text-color('transportation.ic');
}

.dbx-transportchip--ice,
.dbx-transportchip--nationalexpress {
  background: dbx-background-color('transportation.ice');
  color: dbx-text-color('transportation.ice');
}

.dbx-transportchip--rb,
.dbx-transportchip--regional {
  background: dbx-background-color('transportation.rb');
  color: dbx-text-color('transportation.rb');
}

.dbx-transportchip--re,
.dbx-transportchip--regionalexpress {
  background: dbx-background-color('transportation.re');
  color: dbx-text-color('transportation.re');
}

.dbx-transportchip--suburban {
  background: dbx-background-color('transportation.sbahn');
  color: dbx-text-color('transportation.sbahn');
}

.dbx-transportchip--subway {
  background: dbx-background-color('transportation.ubahn');
  color: dbx-text-color('transportation.ubahn');
}

.dbx-transportchip--taxi {
  background: dbx-background-color('transportation.taxi');
  color: dbx-text-color('transportation.taxi');
}

.dbx-transportchip--intercitybus {
  background: dbx-background-color('transportation.intercitybus');
  color: dbx-text-color('transportation.intercitybus');
}

.dbx-transportchip--bikesharing {
  background: dbx-background-color('transportation.bikesharing');
  color: dbx-text-color('transportation.bikesharing');
}

.dbx-transportchip--carsharing {
  background: dbx-background-color('transportation.carsharing');
  color: dbx-text-color('transportation.carsharing');
}

// Shared regional styles

.dbx-transportchip--akn,
.dbx-transportchip--suburban {
  border-radius: 0.875em;
  color: #fff;
  margin: 0 #{-$dbx-transportchip-overlap};
  min-width: (1.75em + $dbx-transportchip-overlap) * 2;
}

.dbx-transportchip--subway,
.dbx-transportchip--tram {
  @include dbx-transportchip-default-border-radius;
  color: #fff;
  min-width: 1.75em * 1.5;
}

// Berlin

.dbx-transportchip--sbahn-berlin {
  &.dbx-transportchip--s1 {
    background: #de4da4;
  }

  &.dbx-transportchip--s2,
  &.dbx-transportchip--s25,
  &.dbx-transportchip--s26 {
    background: #005e28;
  }

  &.dbx-transportchip--s3 {
    background: #0a4c99;
  }

  &.dbx-transportchip--s41 {
    background: #a23b1e;
  }

  &.dbx-transportchip--s42 {
    background: #c26936;
  }

  &.dbx-transportchip--s45,
  &.dbx-transportchip--s46,
  &.dbx-transportchip--s47 {
    background: #c38736;
  }

  &.dbx-transportchip--s5 {
    background: #ff5800;
  }

  &.dbx-transportchip--s7,
  &.dbx-transportchip--s75 {
    background: #6f4e9c;
  }

  &.dbx-transportchip--s8,
  &.dbx-transportchip--s85 {
    background: #54a823;
  }

  &.dbx-transportchip--s9 {
    background: #8a0f30;
  }
}

.dbx-transportchip--bvg {
  &.dbx-transportchip--bus,
  &.dbx-transportchip--tram,
  &.dbx-transportchip--ferry {
    background-color: transparent;
    color: dbx-text-color('primary');
    min-width: unset;
    padding: 0;

    .dbx-transportchip__text:first-child {
      margin-left: 0;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--u1 {
    background: #7dad4c;
  }

  &.dbx-transportchip--u12 {
    background: linear-gradient(to bottom right, #7dad4c 50%, #da421e 0);
  }

  &.dbx-transportchip--u2 {
    background: #da421e;
  }

  &.dbx-transportchip--u3 {
    background: #007a5b;
  }

  &.dbx-transportchip--u4 {
    background: #f0d722;
    color: #000;
  }

  &.dbx-transportchip--u5,
  &.dbx-transportchip--u55 {
    background: #7e5330;
  }

  &.dbx-transportchip--u6 {
    background: #8c6dab;
  }

  &.dbx-transportchip--u7 {
    background: #528dba;
  }

  &.dbx-transportchip--u8 {
    background: #224f86;
  }

  &.dbx-transportchip--u9 {
    background: #f3791d;
  }
}

// Hamburg

.dbx-transportchip--sbahn-hamburg,
.dbx-transportchip--akn {
  background: #fe7f1a;
  width: 1.75em * 2.5 + $dbx-transportchip-overlap * 2;
}

.dbx-transportchip--sbahn-hamburg {
  &.dbx-transportchip--s1 {
    background: #039729;
  }

  &.dbx-transportchip--s11,
  &.dbx-transportchip--s2 {
    @include dbx-transportchip-border(2px, #039729);
    background: #fff;
    color: #039729;
  }

  &.dbx-transportchip--s2 {
    border-color: #b60d36;
    color: #b60d36;
  }

  &.dbx-transportchip--s21 {
    background: #b60d36;
  }

  &.dbx-transportchip--s3,
  &.dbx-transportchip--s31 {
    background: #531b6e;
  }
}

.dbx-transportchip--hochbahn {
  width: 1.75em * 2.5;

  &.dbx-transportchip--u1 {
    background: #0059a4;
  }

  &.dbx-transportchip--u2 {
    background: #ed0220;
  }

  &.dbx-transportchip--u3 {
    @include dbx-transportchip-border(1px, #00000050);
    background: #ffd602;
    text-shadow: #000 0 0 0.0625em;
  }

  &.dbx-transportchip--u4 {
    background: #028b8f;
  }

  &.dbx-transportchip--u5 {
    background: #2c3174;
  }

  &.dbx-transportchip--bus,
  &.dbx-transportchip--taxi,
  &.dbx-transportchip--ferry {
    @include dbx-transportchip-default-border-radius;
    background: #e2011a;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    text-align: center;

    .dbx-transportchip__text:first-child {
      margin-left: 0;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--taxi,
  &.dbx-transportchip--bus {
    margin: 0 #{-$dbx-transportchip-overlap};
    width: 1.75em * 2.5 + $dbx-transportchip-overlap * 2;
  }

  &.dbx-transportchip--taxi {
    background: dbx-background-color('transportation.taxi');
  }

  &.dbx-transportchip--ferry {
    background: #009dd1;
    clip-path: polygon(10% 0, 90% 0, 72% 100%, 28% 100%);
    color: #fff;
  }

  &.dbx-transportchip--expressbus {
    background: #1a962c;
  }

  &.dbx-transportchip--nachtbus {
    background: #000;
  }

  &.dbx-transportchip--ast {
    background: #ffdd02;
    color: #000;
  }
}

// München

.dbx-transportchip--sbahn-muenchen {
  &.dbx-transportchip--s1 {
    background: #19b3e3;
  }

  &.dbx-transportchip--s2 {
    background: #71bf44;
  }

  &.dbx-transportchip--s3 {
    background: #7b107d;
  }

  &.dbx-transportchip--s4 {
    background: #ee1d26;
  }

  &.dbx-transportchip--s6 {
    background: #008a50;
  }

  &.dbx-transportchip--s7 {
    background: #953833;
  }

  &.dbx-transportchip--s8 {
    background: #000;
    color: #ffcb08;
  }

  &.dbx-transportchip--s20 {
    background: #f05a72;
  }
}

.dbx-transportchip--mvg {
  &.dbx-transportchip--u1 {
    background: #3b7233;
  }

  &.dbx-transportchip--u2 {
    background: #c4012e;
  }

  &.dbx-transportchip--u3 {
    background: #ed6721;
  }

  &.dbx-transportchip--u4 {
    background: #00ab84;
  }

  &.dbx-transportchip--u5 {
    background: #be7a00;
  }

  &.dbx-transportchip--u6 {
    background: #0164af;
  }

  &.dbx-transportchip--u7 {
    background: linear-gradient(to bottom right, #3b7233 50%, #c4012e 0);
  }

  &.dbx-transportchip--u8 {
    background: linear-gradient(to bottom right, #c4012e 50%, #ed6721 0);
  }

  &.dbx-transportchip--tram,
  &.dbx-transportchip--bus {
    @include dbx-transportchip-default-border-radius;
    background: #e2011a;
    min-width: 1.75em * 1.5;
    padding: 0 0.43em;
    text-align: center;
  }

  &.dbx-transportchip--tram-temporary {
    @include dbx-transportchip-border(2px, #e2011a);
    background: #fff;
    color: #e2011a;
  }

  &.dbx-transportchip--nachttram {
    background: #656565;
    color: #fff000;
  }

  .dbx-transportchip--e7 {
    background: transparent;
    color: dbx-text-color('primary');
  }

  &.dbx-transportchip--bus {
    background: #005f5f;
  }

  &.dbx-transportchip--nachtbus {
    background: #3f3f3f;
    color: #ff0;
  }

  &.dbx-transportchip--metrobus {
    background: #ff5f00;
  }

  &.dbx-transportchip--expressbus {
    background: #6fcf8f;
  }
}

// Frankfurt (Main)

.dbx-transportchip--sbahn-rheinmain {
  width: 1.75em * 1.75;

  &.dbx-transportchip--s1 {
    background: #047fb8;
  }

  &.dbx-transportchip--s2 {
    background: #ff0100;
  }

  &.dbx-transportchip--s3 {
    background: #009377;
  }

  &.dbx-transportchip--s4 {
    @include dbx-transportchip-border(2px, #000);
    background: #fc0;
    color: #000;
  }

  &.dbx-transportchip--s5 {
    background: #7e3206;
  }

  &.dbx-transportchip--s6 {
    background: #f47822;
  }

  &.dbx-transportchip--s7 {
    background: #01220f;
  }

  &.dbx-transportchip--s8 {
    background: #82c421;
  }

  &.dbx-transportchip--s9 {
    background: #81027e;
  }
}

.dbx-transportchip--vgf {
  &.dbx-transportchip--u1 {
    background: #a30118;
  }

  &.dbx-transportchip--u2 {
    background: #02a650;
  }

  &.dbx-transportchip--u3 {
    background: #35418b;
  }

  &.dbx-transportchip--u4 {
    background: #e03181;
  }

  &.dbx-transportchip--u5 {
    background: #005e24;
  }

  &.dbx-transportchip--u6 {
    background: #005e24;
  }

  &.dbx-transportchip--u7 {
    background: #005e24;
  }

  &.dbx-transportchip--u8 {
    background: #c066a0;
  }

  &.dbx-transportchip--u9 {
    @include dbx-transportchip-border(2px, #000);
    background: #ffd602;
    color: #000;
  }

  &.dbx-transportchip--tram {
    @include dbx-transportchip-border(2px, #f00);
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 1.75em * 1.75;
  }

  &.dbx-transportchip--tram-temporary {
    border-color: #000;
  }
}

// Nürnberg

.dbx-transportchip--sbahn-nuernberg {
  &.dbx-transportchip--s1 {
    background: #94211a;
  }

  &.dbx-transportchip--s2 {
    background: #53b030;
  }

  &.dbx-transportchip--s3 {
    background: #e54e04;
  }

  &.dbx-transportchip--s4 {
    background: #26297c;
  }
}

.dbx-transportchip--vgn {
  &.dbx-transportchip--u1 {
    background: #005d9c;
  }

  &.dbx-transportchip--u2 {
    background: #e1011a;
  }

  &.dbx-transportchip--u3 {
    background: #37b5b7;
  }

  &.dbx-transportchip--tram,
  &.dbx-transportchip--bus {
    @include dbx-transportchip-default-border-radius;
    min-width: 1.75em;
    text-align: center;
  }

  &.dbx-transportchip--bus {
    background: #ff2a0e;
    border-radius: 1.75em;
    padding: 0 0.15em;
  }

  &.dbx-transportchip--str4 {
    background: #f4898f;
  }

  &.dbx-transportchip--str5 {
    background: #9860a9;
  }

  &.dbx-transportchip--str6 {
    background: #fef405;
    color: #000;
  }

  &.dbx-transportchip--str7 {
    background: #667ab4;
  }

  &.dbx-transportchip--str8 {
    background: #01bcfe;
  }
}

// NRW/Köln/Rhein/Ruhr

.dbx-transportchip--sbahn-rheinruhrkoeln {
  &.dbx-transportchip--s11 {
    background: #ef7b00;
  }

  &.dbx-transportchip--s12 {
    background: #60af21;
  }

  &.dbx-transportchip--s13,
  &.dbx-transportchip--s19 {
    background: #2e6b7e;
  }

  &.dbx-transportchip--s23 {
    background: #8b3c59;
  }
}

.dbx-transportchip--kvb {
  &.dbx-transportchip--str1 {
    background: #ed1c24;
  }

  &.dbx-transportchip--str3 {
    background: #f49ac1;
  }

  &.dbx-transportchip--str4 {
    background: #f271ac;
  }

  &.dbx-transportchip--str5 {
    background: #a59dce;
  }

  &.dbx-transportchip--str7 {
    background: #f7946a;
  }

  &.dbx-transportchip--str9 {
    background: #f69b95;
  }

  &.dbx-transportchip--str12 {
    background: #8cc73f;
  }

  &.dbx-transportchip--str13 {
    background: #8b6c42;
  }

  &.dbx-transportchip--str15 {
    background: #50b848;
  }

  &.dbx-transportchip--str16 {
    background: #00accd;
  }

  &.dbx-transportchip--str17 {
    background: #00accd;
  }

  &.dbx-transportchip--str18 {
    background: #0095da;
  }
}

// Mannheim/Ludwigshafen/Heidelberg

.dbx-transportchip--sbahn-rheinneckar {
  &.dbx-transportchip--s1 {
    background: #ec192e;
  }

  &.dbx-transportchip--s2 {
    background: #2960b5;
  }

  &.dbx-transportchip--s3 {
    background: #fcd806;
    color: #333;
  }

  &.dbx-transportchip--s33 {
    background: #744a86;
  }

  &.dbx-transportchip--s4 {
    background: #1a9d47;
  }

  &.dbx-transportchip--s5,
  &.dbx-transportchip--s51 {
    background: #de9450;
  }

  &.dbx-transportchip--s6 {
    background: #28c9f6;
  }
}

.dbx-transportchip--rnv {
  &.dbx-transportchip--tram {
    padding: 0 0.3em;
    min-width: 1.75em;
    text-align: center;
    width: unset;
  }

  &.dbx-transportchip--str1 {
    background: #ff9798;
  }

  &.dbx-transportchip--str2 {
    background: #bc1c4a;
  }

  &.dbx-transportchip--str3 {
    background: #d9aa34;
  }

  &.dbx-transportchip--rnv4,
  &.dbx-transportchip--rnv4a {
    background: #ff2d16;
  }

  &.dbx-transportchip--rnv5,
  &.dbx-transportchip--rnv5a {
    background: #00ac6e;
  }

  &.dbx-transportchip--rnv15 {
    background: #f7aa61;
  }

  &.dbx-transportchip--rnv6,
  &.dbx-transportchip--rnv6a {
    background: #916d2e;
  }

  &.dbx-transportchip--rnv7 {
    background: #ffc735;
  }

  &.dbx-transportchip--rnv8 {
    background: #f57421;
  }

  &.dbx-transportchip--rnv9 {
    background: #93c13b;
  }

  &.dbx-transportchip--rnv15 {
    background: #f6aa62;
  }

  &.dbx-transportchip--str21 {
    background: #ff2d16;
  }

  &.dbx-transportchip--str21a {
    @include dbx-transportchip-border(2px, #000);
    background: #fff;
    color: #ff2d16;
  }

  &.dbx-transportchip--str22 {
    background: #ffbe31;
    color: #000;
  }

  &.dbx-transportchip--str23 {
    background: #f68b25;
  }

  &.dbx-transportchip--str24 {
    background: #7e2885;
  }

  &.dbx-transportchip--str26 {
    background: #ff9798;
  }
}
