// stylelint-disable max-nesting-depth

@import '@bahn-x/dbx-foundation/abstracts.scss';
@import '@bahn-x/dbx-foundation/mixins/focus-ring';

$dbx-transportchip--height: 24px;

.dbx-transportchip {
  background: dbx-palette-color('coolgray500');
  border-radius: #{dbx-spacing('xs') / dbx-size('xs') *
    $dbx-transportchip--height};
  color: dbx-palette-color('white');
  display: inline-block;
  height: $dbx-transportchip--height;
  line-height: $dbx-transportchip--height;
  white-space: nowrap;

  & + & {
    margin-left: dbx-spacing('xs');
  }
}

.dbx-transportchip__icon {
  display: inline-block;
  vertical-align: top;

  &:not(:only-child) {
    margin: 0 1px;
  }
}

.dbx-transportchip__text {
  @include dbx-text-style('copy', 's');
  font-weight: dbx-font-weight('copy', 'bold');
  margin-right: 0.1em; // = more space than “S1”, less space than “S 1”
  vertical-align: (dbx-font-size('copy', 'm') - dbx-font-size('copy', 's')) / 2;

  &:last-child {
    margin-right: 0.43em; // like padding-right of the badge, but depending on the font-size
  }
}

.dbx-transportchip--tram {
  background: dbx-background-color('transportation.tram');
  color: dbx-text-color('transportation.tram');
}

.dbx-transportchip--airplane {
  background: dbx-background-color('transportation.airplane');
  color: dbx-text-color('transportation.airplane');
}

.dbx-transportchip--bus {
  background: dbx-background-color('transportation.bus');
  color: dbx-text-color('transportation.bus');
}

.dbx-transportchip--ec {
  background: dbx-background-color('transportation.ec');
  color: dbx-text-color('transportation.ec');
}

.dbx-transportchip--ferry {
  background: dbx-background-color('transportation.ferry');
  color: dbx-text-color('transportation.ferry');
}

.dbx-transportchip--ic {
  background: dbx-background-color('transportation.ic');
  color: dbx-text-color('transportation.ic');
}

.dbx-transportchip--ice {
  background: dbx-background-color('transportation.ice');
  color: dbx-text-color('transportation.ice');
}

.dbx-transportchip--rb {
  background: dbx-background-color('transportation.rb');
  color: dbx-text-color('transportation.rb');
}

.dbx-transportchip--re {
  background: dbx-background-color('transportation.re');
  color: dbx-text-color('transportation.re');
}

.dbx-transportchip--sbahn {
  background: dbx-background-color('transportation.sbahn');
  color: dbx-text-color('transportation.sbahn');
}

.dbx-transportchip--ubahn {
  background: dbx-background-color('transportation.ubahn');
  color: dbx-text-color('transportation.ubahn');
}

.dbx-transportchip--taxi {
  background: dbx-background-color('transportation.taxi');
  color: dbx-text-color('transportation.taxi');
}

.dbx-transportchip--intercitybus {
  background: dbx-background-color('transportation.intercitybus');
  color: dbx-text-color('transportation.intercitybus');
}

.dbx-transportchip--bikesharing {
  // TODO: FIX TYPO in DBX Tokens: bikeharing
  background: dbx-background-color('transportation.bikeharing');
  color: dbx-text-color('transportation.bikeharing');
}

.dbx-transportchip--carsharing {
  background: dbx-background-color('transportation.carsharing');
  color: dbx-text-color('transportation.carsharing');
}

// Shared regional styles

.dbx-transportchip--berlin,
.dbx-transportchip--hamburg,
.dbx-transportchip--munich,
.dbx-transportchip--frankfurtmain,
.dbx-transportchip--nuremberg {
  &.dbx-transportchip--sbahn,
  &.dbx-transportchip--ubahn {
    color: #fff;
    text-align: center;

    .dbx-transportchip__icon {
      display: none;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--sbahn {
    border-radius: $dbx-transportchip--height / 2;
    width: $dbx-transportchip--height * 2;
  }

  &.dbx-transportchip--ubahn {
    border-radius: 0;
    width: $dbx-transportchip--height * 1.4;
  }
}

// Berlin

.dbx-transportchip--berlin {
  &.dbx-transportchip--bus,
  &.dbx-transportchip--tram,
  &.dbx-transportchip--ferry {
    background-color: transparent;
    color: dbx-text-color('primary');
  }

  &.dbx-transportchip--bus,
  &.dbx-transportchip--tram,
  &.dbx-transportchip--ferry {
    &::before {
      background: #be1414;
      color: #fff;
      content: 'Tram';
      display: inline-block;
      font-size: 0.5em;
      font-weight: bold;
      margin-right: dbx-spacing('xs');
      text-align: center;
      vertical-align: top;
      width: $dbx-transportchip--height;
    }

    .dbx-transportchip__icon {
      display: none;
    }
  }

  &.dbx-transportchip--bus::before {
    background: #95276e;
    border-radius: 50%;
    content: 'BUS';
    font-size: 0.6em;
  }

  &.dbx-transportchip--ferry::before {
    background: #528dba;
    border-radius: 50%;
    content: 'F';
    font-size: 1.2em;
    font-style: italic;
    padding-right: 0.15em;
  }

  &.dbx-transportchip--s1 {
    background: #de4da4;
  }

  &.dbx-transportchip--s2,
  &.dbx-transportchip--s25,
  &.dbx-transportchip--s26 {
    background: #005e28;
  }

  &.dbx-transportchip--s3 {
    background: #0a4c99;
  }

  &.dbx-transportchip--s41 {
    background: #a23b1e;
  }

  &.dbx-transportchip--s42 {
    background: #c26936;
  }

  &.dbx-transportchip--s45,
  &.dbx-transportchip--s46,
  &.dbx-transportchip--s47 {
    background: #c38736;
  }

  &.dbx-transportchip--s5 {
    background: #ff5800;
  }

  &.dbx-transportchip--s7,
  &.dbx-transportchip--s75 {
    background: #6f4e9c;
  }

  &.dbx-transportchip--s8,
  &.dbx-transportchip--s85 {
    background: #54a823;
  }

  &.dbx-transportchip--s9 {
    background: #8a0f30;
  }

  &.dbx-transportchip--u1 {
    background: #7dad4c;
  }

  &.dbx-transportchip--u12 {
    background: linear-gradient(to bottom right, #7dad4c 50%, #da421e 0);
  }

  &.dbx-transportchip--u2 {
    background: #da421e;
  }

  &.dbx-transportchip--u3 {
    background: #007a5b;
  }

  &.dbx-transportchip--u4 {
    background: #f0d722;
    color: #000;
  }

  &.dbx-transportchip--u5,
  &.dbx-transportchip--u55 {
    background: #7e5330;
  }

  &.dbx-transportchip--u6 {
    background: #8c6dab;
  }

  &.dbx-transportchip--u7 {
    background: #528dba;
  }

  &.dbx-transportchip--u8 {
    background: #224f86;
  }

  &.dbx-transportchip--u9 {
    background: #f3791d;
  }
}

// Hamburg

.dbx-transportchip--hamburg {
  &.dbx-transportchip--sbahn,
  &.dbx-transportchip--ubahn,
  &.dbx-transportchip--bus,
  &.dbx-transportchip--ferry {
    width: 2.5 * $dbx-transportchip--height;
  }

  &.dbx-transportchip--s1 {
    background: #039729;
  }

  &.dbx-transportchip--s11,
  &.dbx-transportchip--s21 {
    background: #fff;
    border: 2px #039729 solid;
    color: #039729;
    line-height: $dbx-transportchip--height - 4px;
  }

  &.dbx-transportchip--s2 {
    background: #b60d36;
  }

  &.dbx-transportchip--s21 {
    border-color: #b60d36;
    color: #b60d36;
  }

  &.dbx-transportchip--s3,
  &.dbx-transportchip--s31 {
    background: #531b6e;
  }

  &.dbx-transportchip--a1,
  &.dbx-transportchip--a2,
  &.dbx-transportchip--a3 {
    background: #fe7f1a;
  }

  &.dbx-transportchip--u1 {
    background: #0059a4;
  }

  &.dbx-transportchip--u2 {
    background: #ed0220;
  }

  &.dbx-transportchip--u3 {
    border: 1px #00000025 solid;
    background: #ffd602;
    line-height: $dbx-transportchip--height - 2px;
    text-shadow: #000 0 0 1px;
  }

  &.dbx-transportchip--u4 {
    background: #028b8f;
  }

  &.dbx-transportchip--u5 {
    background: #2c3174;
  }

  &.dbx-transportchip--bus,
  &.dbx-transportchip--ferry {
    background: #e2011a;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    border-radius: 0;
    text-align: center;

    .dbx-transportchip__icon {
      display: none;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--ferry {
    background: #009dd1;
    clip-path: polygon(10% 0, 90% 0, 72% 100%, 28% 100%);
  }

  &.dbx-transportchip--expressbus {
    background: #1a962c;
  }

  &.dbx-transportchip--nachtbus {
    background: #000;
  }

  &.dbx-transportchip--ast {
    background: #ffdd02;
    color: #000;
  }
}

// Munich

.dbx-transportchip--munich {
  &.dbx-transportchip--sbahn {
    width: $dbx-transportchip--height / 3 * 7;
  }

  &.dbx-transportchip--s1 {
    background: #19b3e3;
  }

  &.dbx-transportchip--s2 {
    background: #71bf44;
  }

  &.dbx-transportchip--s3 {
    background: #7b107d;
  }

  &.dbx-transportchip--s4 {
    background: #ee1d26;
  }

  &.dbx-transportchip--s6 {
    background: #008a50;
  }

  &.dbx-transportchip--s7 {
    background: #953833;
  }

  &.dbx-transportchip--s8 {
    background: #000;
    color: #ffcb08;
  }

  &.dbx-transportchip--s20 {
    background: #f05a72;
  }

  &.dbx-transportchip--u1 {
    background: #3b7233;
  }

  &.dbx-transportchip--u2 {
    background: #c4012e;
  }

  &.dbx-transportchip--u3 {
    background: #ed6721;
  }

  &.dbx-transportchip--u4 {
    background: #00ab84;
  }

  &.dbx-transportchip--u5 {
    background: #be7a00;
  }

  &.dbx-transportchip--u6 {
    background: #0164af;
  }

  &.dbx-transportchip--u7 {
    background: linear-gradient(to bottom right, #3b7233 50%, #c4012e 0);
  }

  &.dbx-transportchip--u8 {
    background: linear-gradient(to bottom right, #c4012e 50%, #ed6721 0);
  }

  &.dbx-transportchip--tram,
  &.dbx-transportchip--bus {
    background: #e2011a;
    border-radius: 0;
    text-align: center;
    width: 1.5 * $dbx-transportchip--height;

    .dbx-transportchip__icon {
      display: none;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--tram-temporary {
    border: 2px #e2011a solid;
    background: #fff;
    color: #e2011a;
    line-height: $dbx-transportchip--height - 4px;
  }

  &.dbx-transportchip--nachttram {
    background: #656565;
    color: #fff000;
  }

  .dbx-transportchip--e7 {
    background: transparent;
    color: dbx-text-color('primary');
  }

  &.dbx-transportchip--bus {
    background: #005f5f;
  }

  &.dbx-transportchip--nachtbus {
    background: #3f3f3f;
    color: #ff0;
  }

  &.dbx-transportchip--metrobus {
    background: #ff5f00;
  }

  &.dbx-transportchip--expressbus {
    background: #6fcf8f;
  }
}

// Frankfurt/Main

.dbx-transportchip--frankfurtmain {
  &.dbx-transportchip--sbahn {
    text-align: left;
    width: 1.75 * $dbx-transportchip--height;

    .dbx-transportchip__icon {
      display: block;
      float: left;
    }
  }

  &.dbx-transportchip--s1 {
    background: #047fb8;
  }

  &.dbx-transportchip--s2 {
    background: #ff0100;
  }

  &.dbx-transportchip--s3 {
    background: #009377;
  }

  &.dbx-transportchip--s4 {
    background: #fc0;
    border: 1px #000 solid;
    color: #000;
    line-height: $dbx-transportchip--height - 2px;

    .dbx-transportchip__icon {
      margin: -1px 0 -1px -1px;
    }
  }

  &.dbx-transportchip--s5 {
    background: #7e3206;
  }

  &.dbx-transportchip--s6 {
    background: #f47822;
  }

  &.dbx-transportchip--s7 {
    background: #01220f;
  }

  &.dbx-transportchip--s8 {
    background: #82c421;
  }

  &.dbx-transportchip--s9 {
    background: #81027e;
  }

  &.dbx-transportchip--ubahn {
    border-radius: $dbx-transportchip--height / 2;
    text-align: center;
    width: 1.75 * $dbx-transportchip--height;
  }

  &.dbx-transportchip--u1 {
    background: #a30118;
  }

  &.dbx-transportchip--u2 {
    background: #02a650;
  }

  &.dbx-transportchip--u3 {
    background: #35418b;
  }

  &.dbx-transportchip--u4 {
    background: #e03181;
  }

  &.dbx-transportchip--u5 {
    background: #005e24;
  }

  &.dbx-transportchip--u6 {
    background: #005e24;
  }

  &.dbx-transportchip--u7 {
    background: #005e24;
  }

  &.dbx-transportchip--u8 {
    background: #c066a0;
  }

  &.dbx-transportchip--u9 {
    background: #ffd602;
    border: 1px #000 solid;
    color: #000;
    line-height: $dbx-transportchip--height - 2px;

    .dbx-transportchip__icon {
      margin: -1px 0 -1px -1px;
    }
  }

  &.dbx-transportchip--tram {
    background-color: #fff;
    border: 1px solid #f00;
    border-radius: $dbx-transportchip--height / 3;
    color: #000;
    line-height: $dbx-transportchip--height - 2px;
    text-align: center;
    width: 1.75 * $dbx-transportchip--height;

    .dbx-transportchip__icon {
      display: none;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--tram-temporary {
    border-color: #000;
  }
}

// Nuremberg

.dbx-transportchip--nuremberg {
  &.dbx-transportchip--sbahn,
  &.dbx-transportchip--ubahn {
    border-radius: 0;
    width: 1.5 * $dbx-transportchip--height;
  }

  &.dbx-transportchip--s1 {
    background: #94211a;
  }

  &.dbx-transportchip--s2 {
    background: #53b030;
  }

  &.dbx-transportchip--s3 {
    background: #e54e04;
  }

  &.dbx-transportchip--s4 {
    background: #26297c;
  }

  &.dbx-transportchip--u1 {
    background: #005d9c;
  }

  &.dbx-transportchip--u2 {
    background: #e1011a;
  }

  &.dbx-transportchip--u3 {
    background: #37b5b7;
  }

  &.dbx-transportchip--tram,
  &.dbx-transportchip--bus {
    border-radius: 0;
    text-align: center;
    width: $dbx-transportchip--height;

    .dbx-transportchip__icon {
      display: none;
    }

    .dbx-transportchip__text:last-child {
      margin-right: 0;
    }
  }

  &.dbx-transportchip--bus {
    background: #ff2a0e;
    border-radius: 50%;
  }

  &.dbx-transportchip--tram.dbx-transportchip--4 {
    background: #f4898f;
  }

  &.dbx-transportchip--tram.dbx-transportchip--5 {
    background: #9860a9;
  }

  &.dbx-transportchip--tram.dbx-transportchip--6 {
    background: #fef405;
    color: #000;
  }

  &.dbx-transportchip--tram.dbx-transportchip--7 {
    background: #667ab4;
  }

  &.dbx-transportchip--tram.dbx-transportchip--8 {
    background: #01bcfe;
  }
}

// Cologne

.dbx-transportchip--cologne {
  &.dbx-transportchip--s11 {
    background: #ef7b00;
  }

  &.dbx-transportchip--s12 {
    background: #60af21;
  }

  &.dbx-transportchip--s13,
  &.dbx-transportchip--s19 {
    background: #2e6b7e;
  }

  &.dbx-transportchip--s23 {
    background: #8b3c59;
  }

  &.dbx-transportchip--1 {
    background: #ed1c24;
  }

  &.dbx-transportchip--3 {
    background: #f49ac1;
  }

  &.dbx-transportchip--4 {
    background: #f271ac;
  }

  &.dbx-transportchip--5 {
    background: #a59dce;
  }

  &.dbx-transportchip--7 {
    background: #f7946a;
  }

  &.dbx-transportchip--9 {
    background: #f69b95;
  }

  &.dbx-transportchip--12 {
    background: #8cc73f;
  }

  &.dbx-transportchip--13 {
    background: #8b6c42;
  }

  &.dbx-transportchip--15 {
    background: #50b848;
  }

  &.dbx-transportchip--16 {
    background: #00accd;
  }

  &.dbx-transportchip--17 {
    background: #00accd;
  }

  &.dbx-transportchip--18 {
    background: #0095da;
  }
}
