@import '@bahn-x/dbx-foundation/abstracts';
@import '@bahn-x/dbx-foundation/mixins/focus-ring';

@mixin dbx-button(
  $bg-color,
  $bg-color--hover,
  $text-color,
  $text-color--hover,
  $border-color: $bg-color,
  $border-color--hover: $bg-color--hover
) {
  @include dbx-button-reset;
  @include dbx-text-style('copy');
  @include dbx-focus-ring($transition: 'background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in');
  align-items: center;
  display: inline-flex;
  height: 60px;
  border-radius: 8px;
  background-color: $bg-color;
  justify-content: center;
  text-decoration: none;
  padding: 0 dbx-spacing('24');
  border: 1px solid $border-color;
  color: $text-color;
  cursor: pointer;

  &.dbx-button--disabled,
  &.dbx-button--disabled:hover,
  &.dbx-button--disabled:focus {
    color: dbx-color('grey');
    background-color: dbx-color('grey25');
    border-color: dbx-color('grey25');
    cursor: default;
  }

  &.dbx-button--loading,
  &.dbx-button--loading:hover,
  &.dbx-button--loading:focus {
    color: $text-color;
    background-color: $bg-color;
    border-color: $border-color;
  }

  &:hover {
    background-color: $bg-color--hover;
    color: $text-color--hover;
    border-color: $border-color--hover;
  }
}

.dbx-button--block {
  display: block;
  width: 100%;
}

.dbx-button--primary {
  @include dbx-button(
    $bg-color: dbx-color('dbRed'),
    $bg-color--hover: dbx-color('darkRed'),
    $text-color: dbx-color('white'),
    $text-color--hover: dbx-color('white')
  );
}

.dbx-button--secondary {
  @include dbx-button(
    $bg-color: dbx-color('white'),
    $bg-color--hover: dbx-color('darkGrey'),
    $text-color: dbx-color('darkGrey'),
    $text-color--hover: dbx-color('white'),
    $border-color: dbx-color('darkGrey')
  );
}

.dbx-button--small {
  height: 46px;
}

.dbx-button--loading .dbx-loadingindicator {
  display: inline-block;
  vertical-align: sub;
  margin: 0 dbx-spacing('24');
}
