@import '@bahn-x/dbx-foundation/abstracts.scss';
@import '@bahn-x/dbx-foundation/mixins/focus-ring';

@mixin dbx-button(
  $bg-color,
  $bg-color--hover,
  $bg-color--pressed,
  $bg-color--disabled,
  $text-color,
  $text-color--hover,
  $text-color--pressed,
  $text-color--disabled,
  $border-color: $bg-color,
  $border-color--hover: $bg-color--hover,
  $border-color--pressed: $bg-color--pressed,
  $border-color--disabled: $bg-color--disabled
) {
  @include dbx-button-reset;
  @include dbx-text-style('copy');
  @include dbx-focus-ring(
    $transition:
    'background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in'
  );
  align-items: center;
  display: inline-flex;
  background-color: $bg-color;
  justify-content: center;
  text-decoration: none;
  border: dbx-border-width('button') solid
    if($border-color == none, transparent, $border-color);
  color: $text-color;
  cursor: pointer;

  &.dbx-button--disabled,
  &.dbx-button--disabled:hover,
  &.dbx-button--disabled:active,
  &.dbx-button--disabled:focus {
    color: $text-color--disabled;
    background-color: $bg-color--disabled;
    border-color: $border-color--disabled;
    cursor: default;
  }

  &.dbx-button--loading,
  &.dbx-button--loading:hover,
  &.dbx-button--loading:active,
  &.dbx-button--loading:focus {
    color: $text-color;
    background-color: $bg-color;
    border-color: $border-color;
  }

  &:hover {
    background-color: $bg-color--hover;
    color: $text-color--hover;
    border-color: $border-color--hover;
  }

  &:active {
    background-color: $bg-color--pressed;
    color: $text-color--pressed;
    border-color: $border-color--pressed;
  }
}

@mixin create-dbx-button($variant) {
  .dbx-button--#{$variant} {
    @include dbx-button(
      $bg-color: dbx-background-color('button.#{$variant}'),
      $bg-color--hover: dbx-background-color('button.#{$variant}.hover'),
      $bg-color--pressed: dbx-background-color('button.#{$variant}.pressed'),
      $bg-color--disabled: dbx-background-color('button.#{$variant}.disabled'),
      $text-color: dbx-text-color('button.#{$variant}'),
      $text-color--hover: dbx-text-color('button.#{$variant}.hover'),
      $text-color--pressed: dbx-text-color('button.#{$variant}.pressed'),
      $text-color--disabled: dbx-text-color('button.#{$variant}.disabled'),
      $border-color: dbx-border-color('button.#{$variant}'),
      $border-color--hover: dbx-border-color('button.#{$variant}.hover'),
      $border-color--pressed: dbx-border-color('button.#{$variant}.pressed'),
      $border-color--disabled: dbx-border-color('button.#{$variant}.disabled')
    );
  }
}

.dbx-button--block {
  display: block;
  width: 100%;
}

@include create-dbx-button('primary');
@include create-dbx-button('secondary');
@include create-dbx-button('solid');

.dbx-button--primary {
  font-weight: dbx-font-weight('copy', 'bold');
}

@each $size in (xl l m s xs) {
  .dbx-button--#{$size} {
    border-radius: dbx-border-radius($size);
    @if $size == s {
      font-size: dbx-font-size('copy', 's');
    }
    height: dbx-size($size);
    min-width: 4 * dbx-size($size);
    padding: 0 #{dbx-size($size) / 2};
    @if $size == s {
      padding-bottom: 3px; // Fix vertical align
    }
  }
}

.dbx-button--solid {
  min-width: unset;
}

.dbx-button--loading .dbx-loadingindicator {
  display: inline-block;
  vertical-align: sub;
  margin: 0 dbx-spacing('l');
}
