table.dbx-email-pincode {
  display: inline-block;
  border: none;
 }

table.dbx-email-pincode th.callout-inner {
  color: $black;
  background-color: $light-gray;
  border: none;
  border-radius: $global-radius;
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  padding-top: dbx-spacing('m');
  padding-bottom: dbx-spacing('m');
  padding-left: dbx-spacing('ml');
  padding-right: dbx-spacing('ml');
}
