table.wrapper.dbx-email-body td.dbx-email-body-inner {
  padding-top: dbx-spacing('36');
  padding-bottom: dbx-spacing('52');
  padding-left: dbx-spacing('52');
  padding-right: dbx-spacing('52');
}

table.wrapper.dbx-email-body a {
  font-weight: bold;
}
