.dbx-copy {
  color: var(--dbx-primary-text-color);
  display: inherit;
}

.dbx-copy--secondary {
  color: var(--dbx-secondary-text-color);
}

@each $size in (xs s m l) {
  .dbx-copy--size-#{$size} {
    @include dbx-text-style('copy', $size);
  }
}

.dbx-copy--bold,
.dbx-copy b,
.dbx-copy strong {
  font-weight: dbx-font-weight('copy', 'bold');
}
