@import '@bahn-x/dbx-foundation/abstracts.scss';

.dbx-consentlayer__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.dbx-consentlayer__options {
  list-style: none;
}

.dbx-consentlayer__option {
  margin-top: dbx-spacing('m');
}

.dbx-consentlayer__message {
  flex-grow: 1;
}

.dbx-consentlayer__privacy-message {
  margin-top: dbx-spacing('ml');
}

.dbx-consentlayer__message,
.dbx-consentlayer__privacy-message {
  > a {
    @include dbx-primary-link;
  }
}

.dbx-consentlayer__text {
  @include dbx-text-style('copy');
  margin: 0;
  text-align: left;
}

.dbx-contentlayer__important-link {
  margin-right: dbx-spacing('sm');

  a {
    @include dbx-secondary-link;
  }
}
