@import '@bahn-x/dbx-foundation/abstracts.scss';

$dbx-select-text-style: 'copy';
$dbx-select-border-width: dbx-border-width('input');
$dbx-select-adjustment: 1px;
$dbx-select-padding-horizontal: dbx-spacing('m') - $dbx-select-border-width;
$dbx-select-padding-vertical: dbx-spacing('m') - $dbx-select-border-width;
$dbx-select-padding-top: $dbx-select-padding-vertical - $dbx-select-adjustment;
$dbx-select-padding-bottom: $dbx-select-padding-vertical +
  $dbx-select-adjustment;
$dbx-select-chevron-width: 16px;
$dbx-select-chevron-margin: 16px;

.dbx-select {
  @include dbx-text-style($dbx-select-text-style);
  @include dbx-focus-ring(
    $focus-selector: '.dbx-select--focus',
    $transition: 'border 200ms'
  );
  align-items: stretch;
  background-color: var(--dbx-secondary-background-color);
  border: dbx-border-width('input') solid var(--dbx-secondary-background-color);
  border-radius: dbx-border-radius('xl');
  box-sizing: border-box;
  color: var(--dbx-primary-text-color);
  display: inline-flex;
  position: relative;

  &--disabled {
    background: transparent;
    border-color: var(--dbx-secondary-background-color);
    color: var(--dbx-disabled-text-color);
  }

  /**
   * 1. do not apply browser-default select styles
   */
  select {
    appearance: none; /* 1 */
    border: 0;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    flex: 1;
    padding: $dbx-select-padding-top
      (
        $dbx-select-padding-horizontal + $dbx-select-chevron-width +
        $dbx-select-chevron-margin
      )
      $dbx-select-padding-bottom $dbx-select-padding-horizontal;
    outline: 0;
    width: inherit;
  }

  /**
   * 1. hide browser-default dropdown arrow in IE11
   */
  select::-ms-expand {
    display: none; /* 1 */
  }

  svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: $dbx-select-chevron-margin;
    transform: translateY(-50%);
    width: $dbx-select-chevron-width;
  }
}
