.dbx-title {
  color: dbx-text-color('primary');
  display: inherit;
}

.dbx-title--secondary {
  color: dbx-text-color('secondary');
}

@each $size in (s m l xl xxl) {
  .dbx-title--size-#{$size} {
    @include dbx-text-style('title', $size);
  }
}

.dbx-title--light {
  font-weight: dbx-token('fontweight', 'title');
}
