// stylelint-disable selector-no-qualifying-type, max-nesting-depth
@import '@bahn-x/styles/abstracts.scss';
@import '@bahn-x/styles/mixins/focus-ring';

@mixin db-transportchip-default-border-radius {
  border-radius: 1em / db-font-size('copy', 'm') * db-border-radius('s');
  margin: 0; // Reset overlap
}

@mixin db-transportchip-border($px, $color) {
  $border-in-em: $px / 1px * 0.0625em;
  border: $border-in-em $color solid;
  line-height: #{1.75em - 2 * $border-in-em};
}

$db-transportchip-overlap: 1em / db-font-size('copy', 'm') * 1px;

.db-transportchip {
  background: transparent;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  transition: filter 0.2s ease-in;
  white-space: nowrap;
}

.db-transportchip__line {
  @include db-transportchip-default-border-radius;
  background: db-palette-color('coolgray500');
  box-sizing: border-box;
  color: db-palette-color('white');
  display: inline-block;
  height: 1.75em;
  line-height: 1.75em;
  min-width: 1.75em;
  padding: 0 1em / db-font-size('copy', 'm') * db-spacing('s');
  position: relative;
  text-align: center;
  white-space: nowrap;

  & + & {
    margin-left: db-spacing('xs') / db-font-size('copy', 'm') * 1em;
  }
}

a.db-transportchip,
button.db-transportchip {
  @include db-focus-ring($target: '.db-transportchip__line');
  text-decoration: none;

  &:hover {
    filter: brightness(0.9) saturate(1.1);
  }

  &:active {
    filter: brightness(0.7) saturate(1.3);
  }
}

.db-transportchip__transport-logo {
  // Round shapes (like S-Bahn) need to visually overlap by 1px
  $size: 1.75em;
  $size: 1em / db-font-size('copy', 'm') * db-line-height('copy', 'm') + 2 *
    $db-transportchip-overlap;
  $size: 1em / db-font-size('copy', 'm') * db-size('s') + 2 *
    $db-transportchip-overlap;
  display: inline-block;
  height: $size;
  margin: #{-$db-transportchip-overlap} #{0.25em - $db-transportchip-overlap} #{-$db-transportchip-overlap}
    #{-$db-transportchip-overlap};
  position: relative;
  vertical-align: 1em / db-font-size('copy', 'm') * -8px;
  width: $size;
  transform: translateZ(0);
}

.db-transportchip__text {
  font-family: db-font-family('copy');
  font-size: 0.92em;
  font-weight: db-font-weight('copy', 'bold');
  line-height: 1;
  margin-right: 0.25em; // = a space character
  vertical-align: (db-font-size('copy', 'm') - db-font-size('copy', 's')) / 2;

  &:last-child {
    margin-right: 0;
  }
}

.db-transportchip__text--short-prefix {
  margin-right: 0.1em; // = more space than “S1”, less space than “S 1”
}

.db-transportchip--tram {
  background: db-background-color('transportation.tram');
  color: db-text-color('transportation.tram');
}

.db-transportchip--airplane {
  background: db-background-color('transportation.airplane');
  color: db-text-color('transportation.airplane');
}

.db-transportchip--bus {
  background: db-background-color('transportation.bus');
  color: db-text-color('transportation.bus');
}

.db-transportchip--ec {
  background: db-background-color('transportation.ec');
  color: db-text-color('transportation.ec');
}

.db-transportchip--ferry {
  background: db-background-color('transportation.ferry');
  // color: db-text-color('transportation.ferry');
  color: #fff;
}

.db-transportchip--ic,
.db-transportchip--national {
  background: db-background-color('transportation.ic');
  color: db-text-color('transportation.ic');
}

.db-transportchip--ice,
.db-transportchip--nationalexpress {
  background: var(--db-primary-text-color);
  color: var(--db-primary-background-color);
}

.db-transportchip--rb,
.db-transportchip--regional {
  background: db-background-color('transportation.rb');
  color: db-text-color('transportation.rb');
}

.db-transportchip--re,
.db-transportchip--regionalexpress {
  background: db-background-color('transportation.re');
  color: db-text-color('transportation.re');
}

.db-transportchip--suburban {
  background: db-background-color('transportation.sbahn');
  color: db-text-color('transportation.sbahn');
}

.db-transportchip--subway {
  background: db-background-color('transportation.ubahn');
  color: db-text-color('transportation.ubahn');
}

.db-transportchip--taxi {
  background: db-background-color('transportation.taxi');
  color: db-text-color('transportation.taxi');
}

.db-transportchip--intercitybus {
  background: db-background-color('transportation.intercitybus');
  color: db-text-color('transportation.intercitybus');
}

.db-transportchip--bikesharing {
  background: db-background-color('transportation.bikesharing');
  color: db-text-color('transportation.bikesharing');
}

.db-transportchip--carsharing {
  background: db-background-color('transportation.carsharing');
  color: db-text-color('transportation.carsharing');
}

// Shared regional styles

.db-transportchip--akna1,
.db-transportchip--akna2,
.db-transportchip--akna3,
.db-transportchip--suburban {
  border-radius: 0.875em;
  color: #fff;
  margin: 0 #{-$db-transportchip-overlap};
  min-width: (1.75em + $db-transportchip-overlap) * 2;
}

.db-transportchip--subway,
.db-transportchip--tram {
  @include db-transportchip-default-border-radius;
  color: #fff;
  min-width: 1.75em * 1.5;
}

// Berlin

.db-transportchip--sbahn-berlin {
  &.db-transportchip--s1 {
    background: #de4da4;
  }

  &.db-transportchip--s2,
  &.db-transportchip--s25,
  &.db-transportchip--s26 {
    background: #005e28;
  }

  &.db-transportchip--s3 {
    background: #0a4c99;
  }

  &.db-transportchip--s41 {
    background: #a23b1e;
  }

  &.db-transportchip--s42 {
    background: #c26936;
  }

  &.db-transportchip--s45,
  &.db-transportchip--s46,
  &.db-transportchip--s47 {
    background: #c38736;
  }

  &.db-transportchip--s5 {
    background: #ff5800;
  }

  &.db-transportchip--s7,
  &.db-transportchip--s75 {
    background: #6f4e9c;
  }

  &.db-transportchip--s8,
  &.db-transportchip--s85 {
    background: #54a823;
  }

  &.db-transportchip--s9 {
    background: #8a0f30;
  }
}

.db-transportchip--bvg {
  &.db-transportchip--bus,
  &.db-transportchip--tram,
  &.db-transportchip--ferry {
    background-color: transparent;
    color: var(--db-primary-text-color);
    min-width: unset;
    padding: 0;

    .db-transportchip--canceled & {
      border-color: transparent;
    }
  }

  &.db-transportchip--u1 {
    background: #7dad4c;
  }

  &.db-transportchip--u12 {
    background: linear-gradient(to bottom right, #7dad4c 50%, #da421e 0);
  }

  &.db-transportchip--u2 {
    background: #da421e;
  }

  &.db-transportchip--u3 {
    background: #007a5b;
  }

  &.db-transportchip--u4 {
    background: #f0d722;
    color: #000;
  }

  &.db-transportchip--u5,
  &.db-transportchip--u55 {
    background: #7e5330;
  }

  &.db-transportchip--u6 {
    background: #8c6dab;
  }

  &.db-transportchip--u7 {
    background: #528dba;
  }

  &.db-transportchip--u8 {
    background: #224f86;
  }

  &.db-transportchip--u9 {
    background: #f3791d;
  }
}

// Hamburg

.db-transportchip--sbahn-hamburg,
.db-transportchip--akna1,
.db-transportchip--akna2,
.db-transportchip--akna3 {
  background: #fe7f1a;
  width: 1.75em * 2.5 + $db-transportchip-overlap * 2;
}

.db-transportchip--sbahn-hamburg {
  &.db-transportchip--s1 {
    background: #039729;
  }

  &.db-transportchip--s11,
  &.db-transportchip--s2 {
    @include db-transportchip-border(2px, #039729);
    background: #fff;
    color: #039729;
  }

  &.db-transportchip--s2 {
    border-color: #b60d36;
    color: #b60d36;
  }

  &.db-transportchip--s21 {
    background: #b60d36;
  }

  &.db-transportchip--s3,
  &.db-transportchip--s31 {
    background: #531b6e;
  }
}

.db-transportchip--hvv {
  width: 1.75em * 2.5;

  &.db-transportchip--u1 {
    background: #0059a4;
  }

  &.db-transportchip--u2 {
    background: #ed0220;
  }

  &.db-transportchip--u3 {
    @include db-transportchip-border(1px, #00000050);
    background: #ffd602;
    text-shadow: #000 0 0 0.0625em;
  }

  &.db-transportchip--u4 {
    background: #028b8f;
  }

  &.db-transportchip--u5 {
    background: #2c3174;
  }

  &.db-transportchip--bus,
  &.db-transportchip--taxi,
  &.db-transportchip--ferry {
    @include db-transportchip-default-border-radius;
    background: #e2011a;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    text-align: center;
  }

  &.db-transportchip--taxi,
  &.db-transportchip--bus {
    margin: 0 #{-$db-transportchip-overlap};
    width: 1.75em * 2.5 + $db-transportchip-overlap * 2;
  }

  &.db-transportchip--taxi {
    background: db-background-color('transportation.taxi');
  }

  &.db-transportchip--ferry {
    background: #009dd1;
    clip-path: polygon(10% 0, 90% 0, 72% 100%, 28% 100%);
    color: #fff;
  }

  &.db-transportchip--expressbus {
    background: #1a962c;
  }

  &.db-transportchip--nachtbus {
    background: #000;
  }

  &.db-transportchip--ast {
    background: #ffdd02;
    color: #000;
  }
}

// München

.db-transportchip--sbahn-muenchen {
  &.db-transportchip--s1 {
    background: #19b3e3;
  }

  &.db-transportchip--s2 {
    background: #71bf44;
  }

  &.db-transportchip--s3 {
    background: #7b107d;
  }

  &.db-transportchip--s4 {
    background: #ee1d26;
  }

  &.db-transportchip--s6 {
    background: #008a50;
  }

  &.db-transportchip--s7 {
    background: #953833;
  }

  &.db-transportchip--s8 {
    background: #000;
    color: #ffcb08;
  }

  &.db-transportchip--s20 {
    background: #f05a72;
  }
}

.db-transportchip--mvg {
  &.db-transportchip--u1 {
    background: #3b7233;
  }

  &.db-transportchip--u2 {
    background: #c4012e;
  }

  &.db-transportchip--u3 {
    background: #ed6721;
  }

  &.db-transportchip--u4 {
    background: #00ab84;
  }

  &.db-transportchip--u5 {
    background: #be7a00;
  }

  &.db-transportchip--u6 {
    background: #0164af;
  }

  &.db-transportchip--u7 {
    background: linear-gradient(to bottom right, #3b7233 50%, #c4012e 0);
  }

  &.db-transportchip--u8 {
    background: linear-gradient(to bottom right, #c4012e 50%, #ed6721 0);
  }

  &.db-transportchip--tram,
  &.db-transportchip--bus {
    @include db-transportchip-default-border-radius;
    background: #e2011a;
    min-width: 1.75em * 1.5;
    padding: 0 0.43em;
    text-align: center;
  }

  &.db-transportchip--tram-temporary {
    @include db-transportchip-border(2px, #e2011a);
    background: #fff;
    color: #e2011a;
  }

  &.db-transportchip--nachttram {
    background: #656565;
    color: #fff000;
  }

  .db-transportchip--e7 {
    background: transparent;
    color: db-text-color('primary');
  }

  &.db-transportchip--bus {
    background: #005f5f;
  }

  &.db-transportchip--nachtbus {
    background: #3f3f3f;
    color: #ff0;
  }

  &.db-transportchip--metrobus {
    background: #ff5f00;
  }

  &.db-transportchip--expressbus {
    background: #6fcf8f;
  }
}

// Frankfurt (Main)

.db-transportchip--sbahn-rheinmain {
  width: 1.75em * 1.75;

  &.db-transportchip--s1 {
    background: #047fb8;
  }

  &.db-transportchip--s2 {
    background: #ff0100;
  }

  &.db-transportchip--s3 {
    background: #009377;
  }

  &.db-transportchip--s4 {
    @include db-transportchip-border(2px, #000);
    background: #fc0;
    color: #000;
  }

  &.db-transportchip--s5 {
    background: #7e3206;
  }

  &.db-transportchip--s6 {
    background: #f47822;
  }

  &.db-transportchip--s7 {
    background: #01220f;
  }

  &.db-transportchip--s8 {
    background: #82c421;
  }

  &.db-transportchip--s9 {
    background: #81027e;
  }
}

.db-transportchip--vgf {
  &.db-transportchip--u1 {
    background: #a30118;
  }

  &.db-transportchip--u2 {
    background: #02a650;
  }

  &.db-transportchip--u3 {
    background: #35418b;
  }

  &.db-transportchip--u4 {
    background: #e03181;
  }

  &.db-transportchip--u5 {
    background: #005e24;
  }

  &.db-transportchip--u6 {
    background: #005e24;
  }

  &.db-transportchip--u7 {
    background: #005e24;
  }

  &.db-transportchip--u8 {
    background: #c066a0;
  }

  &.db-transportchip--u9 {
    @include db-transportchip-border(2px, #000);
    background: #ffd602;
    color: #000;
  }
}

// Nürnberg

.db-transportchip--sbahn-nuernberg {
  &.db-transportchip--s1 {
    background: #94211a;
  }

  &.db-transportchip--s2 {
    background: #53b030;
  }

  &.db-transportchip--s3 {
    background: #e54e04;
  }

  &.db-transportchip--s4 {
    background: #26297c;
  }
}

.db-transportchip--vgn {
  &.db-transportchip--u1 {
    background: #005d9c;
  }

  &.db-transportchip--u2 {
    background: #e1011a;
  }

  &.db-transportchip--u3 {
    background: #37b5b7;
  }

  &.db-transportchip--tram,
  &.db-transportchip--bus {
    @include db-transportchip-default-border-radius;
    min-width: 1.75em;
    text-align: center;
  }

  &.db-transportchip--bus {
    background: #ff2a0e;
    border-radius: 1.75em;
    padding: 0 0.15em;
  }

  &.db-transportchip--str4 {
    background: #f4898f;
  }

  &.db-transportchip--str5 {
    background: #9860a9;
  }

  &.db-transportchip--str6 {
    background: #fef405;
    color: #000;
  }

  &.db-transportchip--str7 {
    background: #667ab4;
  }

  &.db-transportchip--str8 {
    background: #01bcfe;
  }
}

// NRW/Köln/Rhein/Ruhr

.db-transportchip--sbahn-rheinruhrkoeln {
  &.db-transportchip--s11 {
    background: #ef7b00;
  }

  &.db-transportchip--s12 {
    background: #60af21;
  }

  &.db-transportchip--s13,
  &.db-transportchip--s19 {
    background: #2e6b7e;
  }

  &.db-transportchip--s23 {
    background: #8b3c59;
  }
}

.db-transportchip--kvb {
  &.db-transportchip--str1 {
    background: #ed1c24;
  }

  &.db-transportchip--str3 {
    background: #f49ac1;
  }

  &.db-transportchip--str4 {
    background: #f271ac;
  }

  &.db-transportchip--str5 {
    background: #a59dce;
  }

  &.db-transportchip--str7 {
    background: #f7946a;
  }

  &.db-transportchip--str9 {
    background: #f69b95;
  }

  &.db-transportchip--str12 {
    background: #8cc73f;
  }

  &.db-transportchip--str13 {
    background: #8b6c42;
  }

  &.db-transportchip--str15 {
    background: #50b848;
  }

  &.db-transportchip--str16 {
    background: #00accd;
  }

  &.db-transportchip--str17 {
    background: #00accd;
  }

  &.db-transportchip--str18 {
    background: #0095da;
  }
}

// Mannheim/Ludwigshafen/Heidelberg

.db-transportchip--sbahn-rheinneckar {
  &.db-transportchip--s1 {
    background: #ec192e;
  }

  &.db-transportchip--s2 {
    background: #2960b5;
  }

  &.db-transportchip--s3 {
    background: #fcd806;
    color: #333;
  }

  &.db-transportchip--s33 {
    background: #744a86;
  }

  &.db-transportchip--s39 {
    @include db-transportchip-border(2px, #000);
    background: #fff;
    color: #000;
  }

  &.db-transportchip--s4 {
    background: #1a9d47;
  }

  &.db-transportchip--s5,
  &.db-transportchip--s51 {
    background: #de9450;
  }

  &.db-transportchip--s6 {
    background: #28c9f6;
  }
}

.db-transportchip--rnv {
  &.db-transportchip--tram {
    padding: 0 0.3em;
    min-width: 1.75em;
    text-align: center;
    width: unset;
  }

  &.db-transportchip--str1 {
    background: #ff9798;
  }

  &.db-transportchip--str2 {
    background: #bc1c4a;
  }

  &.db-transportchip--str3 {
    background: #d9aa34;
  }

  &.db-transportchip--rnv4,
  &.db-transportchip--rnv4a {
    background: #ff2d16;
  }

  &.db-transportchip--rnv5,
  &.db-transportchip--rnv5a {
    background: #00ac6e;
  }

  &.db-transportchip--rnv15 {
    background: #f7aa61;
  }

  &.db-transportchip--rnv6,
  &.db-transportchip--rnv6a {
    background: #916d2e;
  }

  &.db-transportchip--rnv7 {
    background: #ffc735;
  }

  &.db-transportchip--rnv8 {
    background: #f57421;
  }

  &.db-transportchip--rnv9 {
    background: #93c13b;
  }

  &.db-transportchip--rnv15 {
    background: #f6aa62;
  }

  &.db-transportchip--str21 {
    background: #ff2d16;
  }

  &.db-transportchip--str21a {
    @include db-transportchip-border(2px, #000);
    background: #fff;
    color: #ff2d16;
  }

  &.db-transportchip--str22 {
    background: #ffbe31;
    color: #000;
  }

  &.db-transportchip--str23 {
    background: #f68b25;
  }

  &.db-transportchip--str24 {
    background: #7e2885;
  }

  &.db-transportchip--str26 {
    background: #ff9798;
  }
}

// Bremen
.db-transportchip--bsag {
  &.db-transportchip--tram,
  &.db-transportchip--bus {
    @include db-transportchip-default-border-radius;
    min-width: 1.75em;
    text-align: center;
  }

  &.db-transportchip--bus {
    border-radius: 1.75em;
    padding: 0 0.15em;
    background: #9c9c9c;
  }

  &.db-transportchip--str1 {
    background: #009640;
  }

  &.db-transportchip--str2 {
    background: #005ca9;
  }

  &.db-transportchip--str3 {
    background: #009fe3;
  }

  &.db-transportchip--str4 {
    background: #e30613;
  }

  &.db-transportchip--str5 {
    background: #099;
  }

  &.db-transportchip--str6 {
    background: #fc0;
    color: #32474f;
  }

  &.db-transportchip--str8 {
    background: #95c11f;
  }

  &.db-transportchip--str10 {
    background: #312783;
  }

  &.db-transportchip--strn1 {
    background: #009640;
  }

  &.db-transportchip--strn4 {
    background: #e30613;
  }

  &.db-transportchip--strn10 {
    background: #0075bf;
  }

  &.db-transportchip--bus20,
  &.db-transportchip--bus29,
  &.db-transportchip--bus31,
  &.db-transportchip--bus52,
  &.db-transportchip--bus65,
  &.db-transportchip--bus66,
  &.db-transportchip--bus80,
  &.db-transportchip--busn7 {
    background: #95c11f;
  }

  &.db-transportchip--bus21,
  &.db-transportchip--bus61,
  &.db-transportchip--bus91,
  &.db-transportchip--bus92,
  &.db-transportchip--busn6 {
    background: #009fe3;
  }

  &.db-transportchip--bus22,
  &.db-transportchip--busn94 {
    background: #a69dcd;
  }

  &.db-transportchip--bus24,
  &.db-transportchip--bus37,
  &.db-transportchip--bus96 {
    background: #951b81;
  }

  &.db-transportchip--bus25,
  &.db-transportchip--bus62,
  &.db-transportchip--bus81,
  &.db-transportchip--bus98 {
    background: #009640;
  }

  &.db-transportchip--bus26,
  &.db-transportchip--bus40,
  &.db-transportchip--bus41,
  &.db-transportchip--bus94 {
    background: #e30613;
  }

  &.db-transportchip--bus27,
  &.db-transportchip--bus44,
  &.db-transportchip--bus57,
  &.db-transportchip--bus58,
  &.db-transportchip--bus82,
  &.db-transportchip--bus95,
  &.db-transportchip--busn5 {
    background: #ef7d00;
  }

  &.db-transportchip--bus28,
  &.db-transportchip--bus33,
  &.db-transportchip--bus34,
  &.db-transportchip--bus38,
  &.db-transportchip--bus39,
  &.db-transportchip--bus42,
  &.db-transportchip--bus55,
  &.db-transportchip--bus63,
  &.db-transportchip--bus93,
  &.db-transportchip--busn9 {
    background: #fc0;
    color: #32474f;
  }

  &.db-transportchip--bus90 {
    background: #312783;
  }

  &.db-transportchip--busn3 {
    background: #fb3099;
  }
}

.db-transportchip--nordwestbahn {
  &.db-transportchip--suburban {
    @include db-transportchip-default-border-radius;
  }

  &.db-transportchip--nwbrs1 {
    background: #00468e;
  }

  &.db-transportchip--nwbrs2 {
    background: #ec9127;
  }

  &.db-transportchip--nwbrs3 {
    background: #94c12f;
  }

  &.db-transportchip--nwbrs4 {
    background: #e30513;
  }
}

.db-transportchip--canceled {
  mix-blend-mode: var(--db-solid-button-mix-blend-mode);

  .db-transportchip__line {
    @include db-transportchip-border(
      2px,
      var(--db-primary-button-disabled-background-color)
    );
    background: transparent;
    clip-path: unset; // Hochbahn bus and ferry’s shape won’t allow borders
    color: var(--db-primary-button-disabled-text-color);
    text-shadow: unset;
  }

  rect,
  circle {
    fill: var(--db-primary-button-disabled-background-color);
  }

  text,
  path {
    fill: var(--db-primary-button-disabled-text-color);
  }
}
