/// Make an element spread to match the dimensions of its closest non-static
/// ancestor. `width` and `height` are being output to prevent a buggy behaviour
/// in Chrome (48 atow).
/// @group Layout
@mixin dbx-spread {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
