// applies a text style from the DBX design system
// (see variables/text-styles for available styles)
@mixin dbx-text-style($text-style: 'copy', $text-styles-map: $dbx-text-styles) {
  $attributes: map-get($text-styles-map, $text-style);

  $font-size: map-get($attributes, 'fontSize');
  $line-height: map-get($attributes, 'lineHeight');
  $font-weight: map-get($attributes, 'fontWeight');
  $font-family: map-get($attributes, 'fontFamily');

  @include dbx-rem-font-size($font-size);
  line-height: $line-height / $font-size; // use relative (unitless) font-size
  font-weight: $font-weight;
  font-family: $font-family;
}
