// applies a text style from the DBX design system
// (see variables/text-styles for available styles)
@mixin dbx-text-style($text-style: 'copy', $text-styles-map: $dbx-text-styles) {
  @if (map-has-key($text-styles-map, $text-style) == false) {
    @error 'The text style `#{$text-style}` is not present in the DBX text styles map. Valid values are: (#{map-keys($text-styles-map)})';
  }

  $attributes: map-get($text-styles-map, $text-style);

  $font-size: map-get($attributes, 'fontSize');
  $line-height: map-get($attributes, 'lineHeight');
  $font-weight: map-get($attributes, 'fontWeight');
  $font-family: map-get($attributes, 'fontFamily');
  $font-size-large: map-get($attributes, 'fontSizeLarge');
  $breakpoint: map-get($attributes, 'breakpoint');

  @include dbx-rem-font-size($font-size);

  @media (min-width: $breakpoint) {
    @include dbx-rem-font-size($font-size-large);
  }

  line-height: $line-height / $font-size; // use relative (unitless) font-size
  font-weight: $font-weight;
  font-family: $font-family;
}
