.db-theme {
  display: contents;
}

:root,
.db-theme--db-light,
.db-theme--db-light-alternate,
.db-theme--db-branded,
.db-theme--db-dark,
.db-theme--db-dark-alternate,
.db-theme--s-bahn-light,
.db-theme--s-bahn-light-alternate,
.db-theme--s-bahn-branded,
.db-theme--green-campaign-light,
.db-theme--green-campaign-light-alternate,
.db-theme--green-campaign,
.db-theme--pride-campaign-light,
.db-theme--pride-campaign-light-alternate,
.db-theme--display {
  --db-logo-color: #{db-palette-color('dbrot')};
  --db-pulse-background: #{db-palette-color('dbrot')};
  --db-primary-background-color: #{db-palette-color('white')};
  --db-secondary-background-color: #{db-palette-color('coolgray100')};
  --db-darker-background-color: #{db-palette-color('coolgray100')};
  --db-primary-text-color: #{db-palette-color('black')};
  --db-secondary-text-color: #{db-palette-color('coolgray500')};
  --db-field-primary-text-color: var(--db-primary-text-color);
  --db-field-secondary-text-color: var(--db-secondary-text-color);
  --db-disabled-text-color: #{db-palette-color('coolgray200')};
  --db-shadow-color: #0000000a;
  --db-border-color: #{mix(db-palette-color('coolgray100'),
  db-palette-color('coolgray200'),
  30%)};
  --db-loud-border-color: #{db-palette-color('coolgray500')};
  --db-focus-ring-color: #0043c740;
  --db-focus-border-color: #{db-border-color('input.focus')};
  --db-link-color: #{db-text-color('link.primary')};
  --db-link-hover-color: #{db-text-color('link.primary.hover')};
  --db-link-pressed-color: #{db-text-color('link.primary.pressed')};
  --db-primary-button-background-color: #{db-palette-color('red500')};
  --db-primary-button-hover-background-color: #{db-palette-color('red600')};
  --db-primary-button-pressed-background-color: #{db-palette-color('red700')};
  --db-primary-button-disabled-background-color: #{db-palette-color('coolgray100')};
  --db-primary-button-text-color: #{db-palette-color('white')};
  --db-primary-button-hover-text-color: #{db-palette-color('white')};
  --db-primary-button-pressed-text-color: #{db-palette-color('white')};
  --db-primary-button-disabled-text-color: #{db-palette-color('coolgray200')};
  --db-secondary-button-background-color: transparent;
  --db-secondary-button-hover-background-color: #{db-palette-color('coolgray200')};
  --db-secondary-button-pressed-background-color: #{db-palette-color('coolgray300')};
  --db-secondary-button-disabled-background-color: var(--db-primary-button-disabled-background-color);
  --db-secondary-button-text-color: var(--db-primary-text-color);
  --db-secondary-button-hover-text-color: var(--db-primary-text-color);
  --db-secondary-button-pressed-text-color: var(--db-primary-text-color);
  --db-secondary-button-disabled-text-color: var(--db-primary-button-disabled-text-color);
  --db-solid-button-background-color: #{db-palette-color('coolgray200')};
  --db-solid-button-hover-background-color: #{db-palette-color('coolgray300')};
  --db-solid-button-pressed-background-color: #{db-palette-color('coolgray400')};
  --db-solid-button-disabled-background-color: var(--db-primary-button-disabled-background-color);
  --db-solid-button-text-color: var(--db-primary-text-color);
  --db-solid-button-hover-text-color: var(--db-primary-text-color);
  --db-solid-button-pressed-text-color: var(--db-primary-text-color);
  --db-solid-button-disabled-text-color: var(--db-primary-button-disabled-text-color);
  --db-track-background-color: #140f6f;
  --db-track-text-color: #{db-palette-color('coolgray100')};
  --db-on-time-text-color: #508b1b;
  --db-on-time-light-text-color: #467a18;
  --db-on-time-background-color: transparent;
  --db-delayed-text-color: #ec0016;
  --db-delayed-light-text-color: #db0014;
  --db-delayed-background-color: transparent;
}

.db-theme--db-light-alternate,
.db-theme--s-bahn-light-alternate,
.db-theme--green-campaign-light-alternate,
.db-theme--pride-campaign-light-alternate {
  --db-primary-button-disabled-background-color: #{db-palette-color('coolgray200')};
  --db-primary-button-disabled-text-color: #{db-palette-color('coolgray300')};
  --db-link-color: #{darken(db-text-color('link.primary'), 3%)};
  --db-link-hover-color: #{darken(db-text-color('link.primary.hover'), 3%)};
  --db-link-pressed-color: #{darken(db-text-color('link.primary.pressed'), 3%)};
  --db-primary-background-color: #{db-palette-color('coolgray100')};
  --db-secondary-background-color: #{db-palette-color('white')};
  --db-darker-background-color: #{db-palette-color('coolgray200')};
  --db-disabled-text-color: #{db-palette-color('coolgray300')};
  --db-shadow-color: transparent;
  --db-border-color: #{mix(db-palette-color('coolgray200'),
  db-palette-color('coolgray300'),
  70%)};
  --db-loud-border-color: #{db-palette-color('coolgray600')};
}

.db-theme--db-branded,
.db-theme--db-dark,
.db-theme--db-dark-alternate,
.db-theme--s-bahn-branded,
.db-theme--green-campaign-branded,
.db-theme--display {
  --db-logo-color: #fe182e;
  --db-pulse-background: #fe182e;
  --db-primary-background-color: #{db-palette-color('coolgray700')};
  --db-secondary-background-color: #{db-palette-color('coolgray800')};
  --db-darker-background-color: #{db-palette-color('coolgray800')};
  --db-primary-text-color: #{db-palette-color('white')};
  --db-secondary-text-color: #{db-palette-color('coolgray300')};
  --db-disabled-text-color: #{db-palette-color('coolgray500')};
  --db-shadow-color: transparent;
  --db-loud-border-color: #{db-palette-color('red100')};
  --db-border-color: #e77579;
  --db-focus-ring-color: #70a0ff66;
  --db-focus-border-color: #{db-palette-color('blue300')};
  --db-link-color: #f55;
  --db-link-hover-color: #e41f18;
  --db-link-pressed-color: #{mix(db-palette-color('red600'),
  db-palette-color('red700'))};
  --db-primary-button-background-color: #{mix(db-palette-color('red500'),
  db-palette-color('red600'))};
  --db-primary-button-hover-background-color: #{db-palette-color('red600')};
  --db-primary-button-pressed-background-color: #{db-palette-color('red700')};
  --db-primary-button-disabled-background-color: #{db-palette-color('coolgray100')};
  --db-primary-button-text-color: #{db-palette-color('white')};
  --db-primary-button-hover-text-color: #{db-palette-color('white')};
  --db-primary-button-pressed-text-color: #{db-palette-color('white')};
  --db-primary-button-disabled-text-color: #{db-palette-color('coolgray200')};
  --db-secondary-button-background-color: transparent;
  --db-secondary-button-hover-background-color: #{db-palette-color('coolgray600')};
  --db-secondary-button-pressed-background-color: #{db-palette-color('coolgray500')};
  --db-primary-button-disabled-background-color: #{rgba(db-palette-color('white'),
  0.1)};
  --db-primary-button-disabled-text-color: #{rgba(db-palette-color('white'),
  0.3)};
  --db-secondary-button-text-color: var(--db-primary-text-color);
  --db-secondary-button-hover-text-color: var(--db-primary-text-color);
  --db-secondary-button-pressed-text-color: var(--db-primary-text-color);
  --db-solid-button-background-color: #{db-palette-color('coolgray600')};
  --db-solid-button-hover-background-color: #{db-palette-color('coolgray600')};
  --db-solid-button-pressed-background-color: #{db-palette-color('coolgray500')};
  --db-solid-button-text-color: var(--db-primary-text-color);
  --db-solid-button-hover-text-color: var(--db-primary-text-color);
  --db-solid-button-pressed-text-color: var(--db-primary-text-color);
  --db-solid-button-disabled-text-color: var(--db-primary-button-disabled-text-color);
  --db-track-background-color: #{db-palette-color('white')};
  --db-track-text-color: #140f6f;
  --db-on-time-background-color: #{db-palette-color('white')};
  --db-delayed-background-color: #{db-palette-color('white')};
}

.db-theme--db-dark,
.db-theme--db-dark-alternate {
  --db-on-time-text-color: #{db-palette-color('white')};
  --db-on-time-light-text-color: #{db-palette-color('white')};
  --db-on-time-background-color: #467a18;
  --db-delayed-text-color: #{db-palette-color('white')};
  --db-delayed-light-text-color: #{db-palette-color('white')};
  --db-delayed-background-color: #db0014;
  --db-border-color: #{mix(db-palette-color('coolgray400'),
  db-palette-color('coolgray600'),
  60%)};
  --db-loud-border-color: #{db-palette-color('coolgray200')};
}

.db-theme--db-dark-alternate {
  --db-link-color: #ff433e;
  --db-primary-background-color: #{db-palette-color('coolgray800')};
  --db-secondary-background-color: #{db-palette-color('coolgray700')};
  --db-darker-background-color: #{db-palette-color('black')};
  --db-secondary-text-color: #{mix(db-palette-color('coolgray300'),
  db-palette-color('coolgray400'))};
  --db-disabled-text-color: #{db-palette-color('coolgray600')};
  --db-border-color: #{mix(db-palette-color('coolgray500'),
  db-palette-color('coolgray700'),
  60%)};
}

.db-theme--db-branded,
.db-theme--s-bahn-branded,
.db-theme--green-campaign-branded,
.db-theme--display {
  --db-logo-color: #{db-palette-color('white')};
  --db-pulse-background: #{db-palette-color('white')};
  --db-focus-ring-color: rgba(0, 0, 0, 0.4);
  --db-focus-border-color: #000;
  --db-border-color: #{db-palette-color('red600')};
  --db-primary-background-color: #{db-palette-color('dbrot')};
  --db-secondary-background-color: #{db-palette-color('white')};
  --db-darker-background-color: #{db-palette-color('red600')};
  --db-primary-text-color: #{db-palette-color('white')};
  --db-secondary-text-color: #000;
  --db-field-primary-text-color: #{db-palette-color('black')};
  --db-field-secondary-text-color: #{db-palette-color('coolgray500')};
  --db-disabled-text-color: #{db-palette-color('red300')};
  --db-link-color: #000;
  --db-link-hover-color: #{mix(#000, db-palette-color('dbrot'), 60%)};
  --db-link-pressed-color: #{mix(#000, db-palette-color('dbrot'), 40%)};
  --db-primary-button-background-color: #{db-palette-color('white')};
  --db-primary-button-hover-background-color: #{db-palette-color('red100')};
  --db-primary-button-pressed-background-color: #{db-palette-color('red200')};
  --db-primary-button-disabled-background-color: #{rgba(db-palette-color('white'),
  0.1)};
  --db-primary-button-text-color: #{db-palette-color('black')};
  --db-primary-button-hover-text-color: #{db-palette-color('black')};
  --db-primary-button-pressed-text-color: #{db-palette-color('black')};
  --db-primary-button-disabled-text-color: #{rgba(db-palette-color('white'),
  0.3)};
  --db-secondary-button-hover-background-color: #{db-palette-color('red600')};
  --db-secondary-button-pressed-background-color: #{db-palette-color('red700')};
  --db-solid-button-background-color: #{rgba(db-palette-color('black'), 0.2)};
  --db-solid-button-hover-background-color: #{rgba(db-palette-color('black'),
  0.3)};
  --db-solid-button-pressed-background-color: #{rgba(db-palette-color('black'),
  0.4)};
  --db-track-background-color: #{db-palette-color('white')};
  --db-track-text-color: #{#140f6f};
}

$db-s-bahn-green: #05883c;

.db-theme--s-bahn-light,
.db-theme--s-bahn-light-alternate {
  --db-loud-border-color: #{lighten($db-s-bahn-green, 4%)};
  --db-link-color: #{$db-s-bahn-green};
  --db-link-hover-color: #{mix(#000, $db-s-bahn-green, 80%)};
  --db-link-pressed-color: #{mix(#000, $db-s-bahn-green, 60%)};
  --db-primary-button-background-color: #098a40;
  --db-primary-button-hover-background-color: #{darken($db-s-bahn-green, 2%)};
  --db-primary-button-pressed-background-color: #{darken($db-s-bahn-green, 8%)};
  --db-secondary-button-hover-background-color: #{mix($db-s-bahn-green,
  #fff,
  10%)};
  --db-secondary-button-pressed-background-color: #{mix($db-s-bahn-green,
  #fff,
  20%)};
}

.db-theme--s-bahn-light-alternate {
  --db-link-color: #{darken($db-s-bahn-green, 3%)};
  --db-link-hover-color: #{darken(mix(#000, $db-s-bahn-green, 80%), 3%)};
  --db-link-pressed-color: #{darken(mix(#000, $db-s-bahn-green, 60%), 3%)};
}

.db-theme--green-campaign-light,
.db-theme--green-campaign-light-alternate {
  --db-loud-border-color: #{db-palette-color('lightgreen400')};
  --db-link-color: #{db-palette-color('lightgreen400')};
  --db-link-hover-color: #{db-palette-color('lightgreen500')};
  --db-link-pressed-color: #{db-palette-color('lightgreen600')};
  --db-primary-button-background-color: #{db-palette-color('lightgreen400')};
  --db-primary-button-hover-background-color: #{db-palette-color('lightgreen500')};
  --db-primary-button-pressed-background-color: #{db-palette-color('lightgreen600')};
  --db-secondary-button-hover-background-color: #{db-palette-color('lightgreen100')};
  --db-secondary-button-pressed-background-color: #{db-palette-color('lightgreen200')};
}

$db-s-bahn-loud-background: #05883c;
$db-green-campaign-loud-background: db-palette-color('lightgreen400');

.db-theme--s-bahn-branded,
.db-theme--green-campaign-branded {
  --db-focus-border-color: #bbffe7;
  --db-primary-background-color: #{$db-s-bahn-loud-background};
  --db-darker-background-color: #{darken($db-s-bahn-loud-background, 2%)};
  --db-field-primary-text-color: #{db-palette-color('black')};
  --db-field-secondary-text-color: #{db-palette-color('coolgray500')};
  --db-disabled-text-color: #{mix(#99ccb1, $db-s-bahn-loud-background)};
  --db-link-hover-color: #{mix(#000, $db-s-bahn-loud-background, 60%)};
  --db-link-pressed-color: #{mix(#000, $db-s-bahn-loud-background, 40%)};
  --db-primary-button-background-color: #{db-palette-color('white')};
  --db-primary-button-hover-background-color: #{db-palette-color('green100')};
  --db-primary-button-pressed-background-color: #{db-palette-color('green200')};
  --db-primary-button-text-color: #{db-palette-color('black')};
  --db-primary-button-hover-text-color: #{db-palette-color('black')};
  --db-primary-button-pressed-text-color: #{db-palette-color('black')};
  --db-secondary-button-hover-background-color: #{darken($db-s-bahn-green, 2%)};
  --db-secondary-button-pressed-background-color: #{darken($db-s-bahn-green, 8%)};
  --db-border-color: #56a17a;
  --db-loud-border-color: #{db-palette-color('green100')};
}

.db-theme--pride-campaign-light,
.db-theme--pride-campaign-light-alternate {
  --db-pulse-background: linear-gradient(135deg,
  #{db-palette-color('red500')} #{100% / 6 * 1},
  #{db-palette-color('orange500')} 0,
  #{db-palette-color('orange500')} #{100% / 6 * 2},
  #{db-palette-color('yellow500')} 0,
  #{db-palette-color('yellow500')} #{100% / 6 * 3},
  #{db-palette-color('lightgreen500')} 0,
  #{db-palette-color('lightgreen500')} #{100% / 6 * 4},
  #{db-palette-color('blue400')} 0,
  #{db-palette-color('blue400')} #{100% / 6 * 5},
  #{db-palette-color('violet500')} 0);
}

.db-theme--green-campaign-branded {
  --db-link-hover-color: #{mix(#000, $db-green-campaign-loud-background, 60%)};
  --db-link-pressed-color: #{mix(#000, $db-green-campaign-loud-background, 40%)};
  --db-focus-border-color: #{db-palette-color('lightgreen100')};
  --db-primary-background-color: #{$db-green-campaign-loud-background};
  --db-field-primary-text-color: #{db-palette-color('black')};
  --db-field-secondary-text-color: #{db-palette-color('coolgray500')};
  --db-disabled-text-color: #{db-palette-color('lightgreen300')};
  --db-darker-background-color: #{db-palette-color('lightgreen500')};
  --db-primary-button-text-color: #{db-palette-color('lightgreen400')};
  --db-primary-button-hover-text-color: #{db-palette-color('lightgreen400')};
  --db-primary-button-pressed-text-color: #{db-palette-color('lightgreen400')};
  --db-secondary-button-hover-background-color: #{darken(db-palette-color('lightgreen400'),
  6%)};
  --db-secondary-button-pressed-background-color: #{darken(db-palette-color('lightgreen400'),
  12%)};
  --db-border-color: #b3dd80;
  --db-loud-border-color: #{db-palette-color('lightgreen100')};
}

.db-theme--display {
  --db-focus-ring-color: #{rgba(db-palette-color('cyan100'), 0.4)};
  --db-focus-border-color: #{db-palette-color('cyan300')};
  --db-primary-background-color: #213a7e;
  --db-darker-background-color: #{db-palette-color('blue800')};
  --db-primary-text-color: #{db-palette-color('white')};
  --db-secondary-text-color: #{db-palette-color('blue200')};
  --db-disabled-text-color: #3e68ac;
  --db-link-color: #{db-palette-color('cyan300')};
  --db-link-hover-color: #{db-palette-color('cyan400')};
  --db-link-pressed-color: #{db-palette-color('cyan500')};
  --db-primary-button-background-color: #{db-palette-color('white')};
  --db-primary-button-hover-background-color: #{db-palette-color('blue100')};
  --db-primary-button-pressed-background-color: #{db-palette-color('blue200')};
  --db-primary-button-text-color: #{db-palette-color('black')};
  --db-primary-button-hover-text-color: #{db-palette-color('black')};
  --db-primary-button-pressed-text-color: #{db-palette-color('black')};
  --db-secondary-button-hover-background-color: #{db-palette-color('blue600')};
  --db-secondary-button-pressed-background-color: #{db-palette-color('blue500')};
  --db-solid-button-background-color: #142a65;
  --db-solid-button-hover-background-color: #0a1a44;
  --db-solid-button-pressed-background-color: #030d27;
  --db-border-color: #3e5c90;
  --db-loud-border-color: #{db-palette-color('blue100')};
}
