.db-anchor {
  display: block;
  position: relative;
}

.db-anchor__button {
  align-items: center;
  bottom: 0;
  display: flex;
  opacity: 0;
  padding: db-spacing('xl') db-spacing('s') 0 0;
  position: absolute;
  right: 100%;
  top: db-spacing('xl', $negative: true);
  transition: all 0.15s;

  path {
    transition: all 0.15s;
  }

  path:nth-child(1) {
    transform: translateX(-3px);
  }

  path:nth-child(3) {
    transform: translateX(3px);
  }
}

.db-anchor:focus-within,
.db-anchor:hover {
  .db-anchor__button,
  path {
    opacity: 1;
    transform: translateX(0);
  }
}
