.db-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.db-container--extended {
  border-radius: db-border-radius('xl');
  margin-left: var(--db-extended-margin);
  margin-right: var(--db-extended-margin);
  max-width: var(--db-extended-max-width);
}

.db-container--content {
  border-radius: db-border-radius('l');
  margin-left: var(--db-content-margin);
  margin-right: var(--db-content-margin);
  max-width: var(--db-content-max-width);

  .db-container--extended & {
    margin-left: var(--db-content-in-extended-margin);
    margin-right: var(--db-content-in-extended-margin);
  }

  .db-container--content & {
    margin-left: 0;
    margin-right: 0;
  }
}

.db-container--text {
  max-width: var(--db-text-max-width);
}

.db-container--left {
  align-items: flex-start;
  text-align: left;
}

.db-container--center {
  align-items: center;
  text-align: center;
}

.db-container--right {
  align-items: flex-end;
  text-align: right;
}

.db-container--filled {
  background-color: var(--db-primary-background-color);

  &:not(.db-container--full) {
    box-shadow: var(--db-shadow-color) 0 1px 16px;
  }
}
