.db-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.db-container--grid {
  display: grid;
}

@mixin db-container--styles($prefix) {
  .#{$prefix}db-container--extended {
    border-radius: db-border-radius('xl');
    margin-left: var(--db-extended-margin);
    margin-right: var(--db-extended-margin);
    max-width: var(--db-extended-max-width);
  }

  .#{$prefix}db-container--content {
    border-radius: db-border-radius('l');
    margin-left: var(--db-content-margin);
    margin-right: var(--db-content-margin);
    max-width: var(--db-content-max-width);

    .#{$prefix}db-container--extended & {
      margin-left: var(--db-content-in-extended-margin);
      margin-right: var(--db-content-in-extended-margin);
    }

    .#{$prefix}db-container--content & {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .#{$prefix}db-container--text {
    max-width: var(--db-text-max-width);
  }

  .#{$prefix}db-container--left {
    align-items: flex-start;
    text-align: left;
  }

  .#{$prefix}db-container--center {
    align-items: center;
    text-align: center;
  }

  .#{$prefix}db-container--right {
    align-items: flex-end;
    text-align: right;
  }

  .#{$prefix}db-container--filled {
    background-color: var(--db-primary-background-color);

    &:not(.db-container--full) {
      box-shadow: var(--db-shadow-color) 0 1px 16px;
    }
  }

  .#{$prefix}db-container--filled\! {
    background-color: unset;

    &:not(.db-container--full) {
      box-shadow: unset;
    }
  }
}
@include db-container--styles('');

@include db-tablet {
  @include db-container--styles('t\\:');
}

@include db-desktop {
  @include db-container--styles('d\\:');
}
