.db-copy {
  color: var(--db-primary-text-color);
  display: inherit;
}

.db-copy--secondary {
  color: var(--db-secondary-text-color);
}

$db-copy--sizes: (xs s m l);

@each $size in $db-copy--sizes {
  .db-copy--size-#{$size} {
    @include db-text-style('copy', $size);
  }
}

@include tablet {
  @each $size in $db-copy--sizes {
    .t\:db-copy--size-#{$size} {
      @include db-desktop-text-size('copy', $size);
    }
  }
}

@include desktop {
  @each $size in $db-copy--sizes {
    .d\:db-copy--size-#{$size} {
      @include db-desktop-text-size('copy', $size);
    }
  }
}

.db-copy--bold,
.db-copy b,
.db-copy strong {
  font-weight: db-font-weight('copy', 'bold');
}
