.db-display {
  color: var(--db-primary-text-color);
  font-family: db-font-family('title');
  font-weight: 900;
  overflow-wrap: break-word;
  
  @media (max-width: 48em) {
    hyphens: auto;
  }
}

.db-display--wrapped {
  display: inherit;
}

.db-display--secondary {
  color: var(--db-secondary-text-color);
}

.db-display--light {
  font-weight: db-token('fontweight', 'title');
}
