.db-layout--left-aligned {
  background: linear-gradient(to right,
  #{db-color('brand')} var(--db-sidebar-width),
  transparent 0);
  padding-left: var(--db-sidebar-width);

  @include tablet {
    --db-sidebar-width: #{2 * db-spacing('xxxl')};
    --db-content-margin: #{db-spacing('xxl')};
    --db-extended-margin: #{db-spacing('xl')};
    --db-content-in-extended-margin: #{db-spacing('xl')};
    --db-content-max-width: calc(100vw - 2 * var(--db-content-margin) - var(--db-sidebar-width));
    --db-extended-max-width: calc(100vw - 2 * var(--db-extended-margin) - var(--db-sidebar-width));
    --db-content-in-extended-margin: calc(var(--db-content-margin) - var(--db-extended-margin));
  }

  @include desktop {
    --db-sidebar-width: #{3 * db-spacing('xxxl')};
    --db-content-max-width: #{8 * db-spacing('xxxl')};
    --db-extended-max-width: #{9 * db-spacing('xxxl')};
    --db-content-margin: #{db-spacing('xxxl')};
    --db-extended-margin: #{db-spacing('xl')};
    --db-content-in-extended-margin: calc(var(--db-content-margin) - var(--db-extended-margin));
  }
}
