.db-link {
  appearance: none;
  background: transparent;
  border: 0;
  font-family: #{db-font-family('copy')};
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.db-link--icon {
  $icon-safe-area: 2px;
  display: inline-flex;
  gap: db-spacing('xs');
  white-space: nowrap;

  &::before {
    content: ' ';
    width: 0;
    margin-right: -0.25em;
  }

  .db-icon:first-child {
    margin-left: -$icon-safe-area;
  }

  .db-icon:last-child {
    margin-right: -$icon-safe-area;
  }
}

.db-link__icon-arrow {
  margin: 0 -3px;
}

.db-link--primary {
  @include db-primary-link($target: 'span');
}

.db-link--secondary,
.db-link--mixed {
  @include db-secondary-link($target: 'span');
}

.db-link:disabled {
  &,
  &:hover,
  &:active,
  span {
    color: var(--db-disabled-text-color);
    cursor: default;
    text-decoration-color: transparent;
  }
}

.db-link--mixed {
  svg {
    color: var(--db-link-color);
  }
}
