.db-loadingindicator {
  display: block;
}

@each $size in (xl l m s xs) {
  $stroke-width: 3px;
  @if $size == s or $size == xs {
    $stroke-width: 2px;
  }
  .db-loadingindicator--#{$size} {
    --db-loadingindicator--stroke-width: #{44px /
      db-size($size) *
      $stroke-width};
    --db-loadingindicator--r: #{22 - 44px / db-size($size) * $stroke-width};
    height: db-size($size);
    width: db-size($size);
  }
}

.db-loadingindicator {
  animation: db-loadingindicator-rotate 3s linear infinite;
}

.db-loadingindicator__circle {
  r: var(--db-loadingindicator--r);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke: currentColor;
  stroke-width: var(--db-loadingindicator--stroke-width);
  animation: db-loadingindicator-stroke 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes db-loadingindicator-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes db-loadingindicator-stroke {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 96, 200;
    stroke-dashoffset: -32;
  }

  100% {
    stroke-dasharray: 96, 200;
    stroke-dashoffset: -124;
  }
}
