@use 'sass:math';

$db-logo-sizes: (
  'xs': 14px,
  's': 21px,
  'm': 28px,
  'l': 35px,
  'xl': 42px,
  'xxl': 56px,
);

.db-logo {
  @include db-hide-text;
  border-radius: calc(var(--db-logo--height) / 7.1);
  display: inline-flex;
  vertical-align: middle;
}

.db-logo__db {
  display: inline-block;
  height: var(--db-logo--height);
  transform: translateZ(0);
  width: calc(var(--db-logo--height) / 7 * 10);

  path {
    fill: var(--db-logo-color);
  }

  rect {
    fill: transparent;
  }
}

.db-logo__netze,
.db-logo__schenker {
  height: var(--db-logo--height);
}

.db-logo__cargo {
  display: inline-block;
  height: calc(var(--db-logo--height) / 28 * 25);
}

.db-logo--align-left,
.db-logo--align-center,
.db-logo--align-right {
  display: inline-flex;
  flex-direction: column;
}

.db-logo--align-center {
  align-items: center;
}

.db-logo--align-right {
  align-items: flex-end;
}

.db-logo__netze,
.db-logo__schenker,
.db-logo__cargo {
  path {
    fill: var(--db-primary-text-color);
  }
}

.db-logo__cargo {
  margin: 0 calc(var(--db-logo--height) / -28);
}

.db-logo--default,
.db-logo--filled {
  .db-logo__db path {
    fill: db-color('brand');
  }
}

.db-logo--white .db-logo__db path,
.db-logo--filled .db-logo__db rect {
  fill: db-background-color('primary');
}

.db-logo[href] {
  @include db-focus-ring($offset: 3 * $focus-ring-offset);
  position: relative;
  z-index: 0;
}

.db-logo[href]::before {
  border-radius: calc(var(--db-logo--height) / 3.8);
  bottom: db-spacing('xs', $negative: true);
  content: '';
  left: db-spacing('xs', $negative: true);
  position: absolute;
  right: db-spacing('xs', $negative: true);
  top: db-spacing('xs', $negative: true);
  transition: background 0.15ms;
  z-index: -1;
}

.db-logo[href]:hover::before {
  background: var(--db-darker-background-color);
}

.db-logo__product-marking {
  align-items: flex-end;
  color: var(--db-primary-text-color);
  display: inline-flex;
  font-family: db-font-family('productmarking');
  font-size: calc(var(--db-logo--height) * 0.46);
  font-style: italic;
  height: var(--db-logo--height);
  font-weight: bold;
  line-height: 1.2;
  margin-left: calc(var(--db-logo--height) / 7 * 10);
  padding-bottom: calc(0.07 * var(--db-logo--height));
  vertical-align: bottom;
  white-space: nowrap;

  .db-logo__netze ~ &,
  .db-logo__schenker ~ &,
  .db-logo__cargo ~ & {
    color: var(--db-secondary-text-color);
  }
}

.db-logo__product-marking--two-line {
  font-size: calc(var(--db-logo--height) * 0.26);
  padding-bottom: calc(0.12 * var(--db-logo--height));
}

.db-logo--size-xs .db-logo__product-marking {
  transform: translateY(2px);
}

.db-logo--size-xs .db-logo__product-marking,
.db-logo--size-s .db-logo__product-marking,
.db-logo--size-m .db-logo__product-marking,
.db-logo--size-xl .db-logo__product-marking--two-line {
  font-size: 14px;
  letter-spacing: 0.015em;
}

.db-logo--vertical {
  display: block;

  .db-logo__product-marking {
    display: block;
    height: unset;
    margin-left: 0;
    margin-top: calc(1.36 * var(--db-logo--height));
    padding-bottom: unset;
  }
}

.db-logo--full-width {
  display: flex;

  .db-logo__product-marking {
    margin-left: auto;
    text-align: right;
  }
}

/**
  * 1. To allow the ::after to be inline-block without addional margin caused
  *    by the line-height. Inline-blocks inherit the text-align. This way the
  *    Logo and the Pulse can be centered by applying `text-align: center`.
  */
.db-pulse {
  color: var(--db-primary-text-color);
  display: block;
  line-height: 0; /* 1 */

  /**
   * 2. marketingportal.extranet.deutschebahn.com/en/pulse#6eefb0f2-5282-43cf-b49b-be30b51d39ee
   */
  &::after {
    background: var(--db-pulse-background);
    border-radius: calc(var(--db-logo--height) / 7 * 0.5); /* 3 */
    content: '';
    display: inline-block; /* 1 */
    height: calc(var(--db-logo--height) / 7); /* 3 */
    width: calc(var(--db-logo--height) / 7 * 10); /* 3 */
  }

  /**
   * 3. Left-align text to the left (remove side bearing).
   *    When using two differnt font sizes, this effect becomes more visual.
   */
  > * {
    margin: 0 calc(-0.07em + 1px); /* 2 */
  }

  /**
   * 4. Result: Visually half a Logo height from cap height/baseline
   *    marketingportal.extranet.deutschebahn.com/en/layout#5f1cb927-48c0-4f94-a321-80fd20ac8517
   */
  > :first-child {
    margin-top: calc(var(--db-logo--height) * 0.5 - 0.21em); /* 4 */
  }

  > :last-child {
    margin-bottom: calc(var(--db-logo--height) * 0.5 - 0.16em); /* 4 */
  }
}

.db-pulse--default {
  &::after {
    background: db-color('brand');
  }
}

.db-pulse--white {
  color: var(--db-primary-text-color);

  &::after {
    background: #fff;
  }
}

@each $size, $height in $db-logo-sizes {
  .db-logo--size-#{$size},
  .db-logo--size-#{$size} ~ .db-pulse {
    --db-logo--height: #{$height};
  }
}
