@use 'sass:math';

$db-modal--z-level: (
  modal: 5000,
);

$db-modal--appearance-duration: 400ms;
$db-modal--bezier: cubic-bezier(0, 1, 0.3, 1);
$db-modal--dialog-margin: db-spacing('s');
$db-modal--dialog-padding-y-mobile: db-spacing('m');
$db-modal--dialog-padding-x-mobile: db-spacing('l');
$db-modal--dialog-padding-y-desktop: db-spacing('l');
$db-modal--dialog-padding-x-desktop: db-spacing('xxl');
$db-modal--action-gap: db-spacing('s');
$db-modal--save-gap: db-spacing('s');
$db-modal--shadow-background-color: db-color('background.primary');
$db-modal--shadow-foreground-color: db-color('text.primary');

.db-modal {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($db-modal--z-level, modal);
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  transition: background-color $db-modal--appearance-duration,
    opacity $db-modal--appearance-duration;
  @media print {
    position: static;
  }
}

.db-modal--open {
  opacity: 1;
  background-color: rgba(#000, 0.8);
}

.db-modal--close {
  opacity: 0;
  background-color: transparent;
}

.db-modal__dialog {
  @include db-focus-ring($color: #5a9bc480, $offset-color: #000);
  box-sizing: border-box;
  position: relative;
  display: grid;
  overflow: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  width: auto;
  max-width: map-get($breakpoints, xlarge);
  height: calc(var(--db-vh, 1vh) * 100 - #{2 * db-spacing('s')});
  padding: $db-modal--dialog-padding-y-mobile $db-modal--dialog-padding-x-mobile;
  border-radius: db-border-radius('modal');
  box-shadow: map-get($db-shadows, high);
  background-color: var(--db-primary-background-color);
  margin: $db-modal--dialog-margin;
  @include tablet {
    height: auto;
    padding: $db-modal--dialog-padding-y-desktop $db-modal--dialog-padding-x-desktop;
    max-height: 90%;
  }
  @include desktop {
    max-height: 75%;
  }
  @media print {
    display: block;
    overflow: visible;
    max-height: unset;
  }
}

.db-modal__dialog--width-s {
  max-width: map-get($breakpoints, small);
}

.db-modal__dialog--width-m {
  @include tablet {
    max-width: map-get($breakpoints, medium);
  }
}

.db-modal__dialog--width-l {
  max-width: map-get($breakpoints, large);
}

.db-modal__header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: #{math.div($db-modal--dialog-padding-y-mobile, 2)};

  &:empty {
    margin-bottom: 0;
  }
}

.db-modal__header--collapse {
  height: db-spacing('s');
  margin: 0;
}

.db-modal__closebutton {
  // Place visually right aligned.
  transform: translate(db-spacing('s'), db-spacing('xs', $negative: true));
  @media print {
    display: none;
  }
}

.db-modal__title {
  margin: 0;

  &:first-of-type {
    // Align title to left, when close button not present.
    flex: auto;
  }
}

.db-modal__content {
  position: relative;
  display: block; // support <main> for IE 11
  overflow-y: auto;
  min-height: db-size('xl');
  padding: $db-modal--save-gap;
  margin: -$db-modal--save-gap;
  // Not themed yet:
  background-image: linear-gradient($db-modal--shadow-background-color 10%,
  change-color($db-modal--shadow-background-color, $alpha: 0)),
    linear-gradient(change-color($db-modal--shadow-background-color, $alpha: 0),
  $db-modal--shadow-background-color 90%),
    radial-gradient(farthest-side at 50% 0,
  change-color($db-modal--shadow-foreground-color, $alpha: 0.2),
  change-color($db-modal--shadow-foreground-color, $alpha: 0)),
    radial-gradient(farthest-side at 50% 100%,
  change-color($db-modal--shadow-foreground-color, $alpha: 0.2),
  change-color($db-modal--shadow-foreground-color, $alpha: 0));
  background-size: 100% $db-modal--save-gap * 3, 100% $db-modal--save-gap * 3,
    100% $db-modal--save-gap, 100% $db-modal--save-gap;
  background-position: 0 0, 0 100%, 0 0, 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-repeat: no-repeat;
  background-color: $db-modal--shadow-background-color;
  @include tablet {
    padding: 0 $db-modal--dialog-padding-x-desktop;
    margin: 0 #{-$db-modal--dialog-padding-x-desktop};
  }
  @media print {
    overflow-y: visible;
    background: none;
    border-bottom: db-border-width('input') solid db-border-color('input');
  }

  &:empty {
    background: none;
    min-height: 0;
    height: 0;
  }
}

.db-modal__content--right-gap {
  margin-right: db-spacing('l');
}

.db-modal__actions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -1px;
  padding-top: $db-modal--dialog-padding-y-mobile;
  @media print {
    display: none;
  }
}

.db-modal__actions--full-s {
  @media (max-width: #{map-get($breakpoints, 'tablet') - 1px}) {
    flex-direction: column;

    .db-modal__action--secondary {
      margin: 2 * $db-modal--action-gap 0 0;
    }

    .db-button {
      width: 100%;
    }
  }
}

.db-modal__actions--full-m {
  @media (max-width: #{map-get($breakpoints, 'desktop') - 1px}) {
    flex-direction: column;

    .db-modal__action--secondary {
      margin: 2 * $db-modal--action-gap 0 0;
    }

    .db-button {
      width: 100%;
    }
  }
}

.db-modal__actions--full-l {
  flex-direction: column;

  .db-modal__action--secondary {
    margin: 2 * $db-modal--action-gap 0 0;
  }

  .db-button {
    width: 100%;
  }
}

.db-modal__actions--center-s {
  @media (max-width: #{map-get($breakpoints, 'tablet') - 1px}) {
    justify-content: center;

    .db-button {
      width: auto;
    }
  }
}

.db-modal__actions--center-m {
  @media (max-width: #{map-get($breakpoints, 'desktop') - 1px}) {
    justify-content: center;

    .db-button {
      width: auto;
    }
  }
}

.db-modal__actions--center-l {
  justify-content: center;

  .db-button {
    width: auto;
  }
}

.db-modal__actions--collapse {
  padding-top: 0;
}

.db-modal__action--secondary {
  margin-right: 2 * $db-modal--action-gap;
}

.db-modal__footer {
  @include db-text-style('copy', 's');
  background: var(--db-darker-background-color);
  color: var(--db-secondary-text-color);
  margin: db-spacing('m') (-$db-modal--dialog-padding-x-mobile)
    (-$db-modal--dialog-padding-y-mobile);
  padding: db-spacing('sm') $db-modal--dialog-padding-x-mobile;
  @include tablet {
    margin: db-spacing('m') (-$db-modal--dialog-padding-x-desktop)
      (-$db-modal--dialog-padding-y-desktop);
    padding: db-spacing('sm') $db-modal--dialog-padding-x-desktop;
    text-align: right;
  }

  > a {
    @include db-secondary-link;
  }
}

.db-body--db-modal-open,
.db-html--db-modal-open {
  overflow: hidden;
}
