@import '@db-design/styles/abstracts.scss';

// TODO: replace with DB colors as soon as they are available
$notification-variants: ('info' 'warning' 'error' 'success');

.db-notification {
  @include db-text-style('copy', 's');
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: db-spacing('m') db-spacing('ml');
  color: var(--db-primary-text-color);
  background-color: var(--db-primary-background-color);
  border: solid var(--db-primary-background-color) 4px;
  border-radius: db-border-radius('l');
}

.db-notification + .db-notification {
  margin-top: db-spacing('m');
}

.db-notification__icon {
  padding: 2px;
  margin: db-spacing('sm', $negative: true) db-spacing('xs')
    db-spacing('sm', $negative: true) #{db-spacing('m', $negative: true) -
    db-spacing('xs')};
  align-self: start;
}

.db-notification__variant {
  @include db-visually-hidden;
}

.db-notification__icon,
.db-notification__close-icon {
  svg {
    display: block;
    fill: currentColor;
  }
}

.db-notification__content {
  @include db-text-style('copy');
  font-weight: inherit;
  padding: 2px 0;
  text-align: left;
  flex-grow: 1;
}

.db-notification__title {
  display: block;
  font-weight: bold;
}

.db-notification--global {
  border-radius: db-border-radius('xl');
  border-width: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: db-spacing('xxxl') * 4;
  border-color: db-palette-color('white');
}

.db-notification--info {
  --db-primary-background-color: #{db-palette-color('blue050')};

  .db-icon {
    color: db-palette-color('blue500');
  }
}

.db-notification--warning {
  --db-primary-background-color: #{desaturate(db-palette-color('yellow200'),
  15%)};

  .db-icon {
    color: db-palette-color('coolgray600');
  }
}

.db-notification--error {
  --db-primary-background-color: #{desaturate(db-palette-color('yellow200'),
  15%)};
  color: #db0014;
}

.db-notification--success {
  --db-primary-background-color: #eff9e5;

  circle {
    fill: db-color('success');
  }
}

/**
 * 1. Preserve a comfortably readable line length of the messages.
 *    We don't set a (min)-width as we want the notifications
 *    to take up only the miminmal amount of the space necessary to
 *    not block interactions with large parts of the site.
 */
.db-notification-portal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 64rem; /* 1 */
  padding: db-spacing('m');
}
