.db-notification {
  @include db-text-style('copy', 's');
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: db-spacing('s') db-spacing('ml');
  color: var(--db-primary-text-color);
  background-color: var(--db-primary-background-color);
  border: solid var(--db-primary-background-color) 4px;
  border-radius: db-border-radius('l');
}

.db-notification + .db-notification {
  margin-top: db-spacing('m');
}

.db-notification__icon {
  padding: 2px;
  margin: db-spacing('s', $negative: true) 2px db-spacing('s', $negative: true) #{db-spacing('ml',
  $negative: true) + 2px};
  align-self: start;
}

.db-notification__severity {
  @include db-visually-hidden;
}

.db-notification__icon,
.db-notification__close-icon {
  svg {
    @include safari-svg-fix;
    display: block;
    fill: currentColor;
  }
}

.db-notification__content {
  @include db-text-style('copy');
  font-weight: inherit;
  padding: 2px 0;
  text-align: left;
  flex-grow: 1;
}

.db-notification__title {
  display: block;
  font-weight: bold;
}

.db-notification--global {
  border-radius: db-border-radius('xl');
  border-width: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: db-spacing('xxxl') * 4;
  border-color: db-color('white');
}

@mixin db-notification--colors($color) {
  --db-primary-background-color: #{$color};
  --db-darker-background-color: #{mix($color, #000, 90%)};
  --db-secondary-button-background-color: #{$color};
  --db-secondary-button-hover-background-color: #{mix($color, #000, 90%)};
  --db-secondary-button-pressed-background-color: #{mix($color, #000, 80%)};
  --db-solid-button-background-color: #{mix($color, #000, 90%)};
  --db-solid-button-hover-background-color: #{mix($color, #000, 80%)};
  --db-solid-button-pressed-background-color: #{mix($color, #000, 70%)};
}

.db-notification--informative {
  @include db-notification--colors(#dbeefa);
}

.db-notification--warning,
.db-notification--error {
  @include db-notification--colors(#fcfcb8);
}

.db-notification--error {
  color: #c70012;
}

.db-notification--success {
  @include db-notification--colors(#e1f1d0);
}

.db-notification__action {
  margin-left: db-spacing('m');
  white-space: nowrap;

  + .db-notification__close-btn {
    margin-left: db-spacing('m');
  }
}

.db-notification__close-btn {
  align-self: flex-start;
  margin-top: 13px;
}

@media (max-width: #{map-get($db-breakpoints, 'tablet') - 1px}) {
  .db-notification {
    display: grid;
    grid-template-areas: 'icon content close' 'icon action close';
    grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: 1fr 0fr;
  }

  .db-notification__icon {
    grid-area: icon;
  }

  .db-notification__close-btn {
    grid-area: close;
  }

  .db-notification__action {
    grid-area: action;
    margin: db-spacing('s') 0 0;

    + .db-notification__close-btn {
      margin-left: 0;
    }
  }
}

/**
 * 1. Preserve a comfortably readable line length of the messages.
 *    We don't set a (min)-width as we want the notifications
 *    to take up only the miminmal amount of the space necessary to
 *    not block interactions with large parts of the site.
 */
.db-notification-portal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 64rem; /* 1 */
  padding: db-spacing('m');
}
