$db-select-text-style: 'copy';
$db-select-border-width: db-border-width('input');
$db-select-adjustment: 1px;
$db-select-padding-horizontal: db-spacing('m') - $db-select-border-width;
$db-select-padding-vertical: db-spacing('m') - $db-select-border-width;
$db-select-padding-top: $db-select-padding-vertical - $db-select-adjustment;
$db-select-padding-bottom: $db-select-padding-vertical + $db-select-adjustment;
$db-select-chevron-margin: 16px;

.db-select {
  --db-select--chevron-width: 16px;
  @include db-text-style($db-select-text-style);
  @include db-focus-ring($focus-selector: ':focus-within', $transition: 'border 200ms');
  align-items: stretch;
  background-color: var(--db-secondary-background-color);
  border: db-border-width('input') solid var(--db-secondary-background-color);
  box-sizing: border-box;
  color: var(--db-primary-text-color);
  display: inline-flex;
  position: relative;

  @media (prefers-contrast: more) {
    border-color: var(--db-loud-border-color);
  }

  &--disabled {
    background: transparent;
    border-color: var(--db-primary-button-disabled-background-color);
    color: var(--db-disabled-text-color);
  }

  /**
   * 1. do not apply browser-default select styles
   */
  select {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none; /* 1 */
    border: 0;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    flex: 1;
    outline: 0;
    width: inherit;
  }

  /**
   * 1. hide browser-default dropdown arrow in IE11
   */
  select::-ms-expand {
    display: none; /* 1 */
  }

  svg {
    @include safari-svg-fix;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--db-select--chevron-width);
  }

  path {
    stroke: currentColor;
    stroke-width: 2;
    fill: none;
    fill-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.db-select--size-s {
  --db-select--chevron-width: 12px;

  path {
    stroke-width: 2.4;
  }
}

@each $size in (xl l m s xs) {
  .db-select--size-#{$size} {
    $horizontal-padding: db-component-horizontal-padding($size, 'input');
    $vertical-padding: db-component-vertical-padding($size, 'input');
    @include db-component-text-style($size, 'input');
    border-radius: db-border-radius($size);
    min-height: db-size($size);

    select {
      border-radius: db-border-radius($size);
      padding-bottom: $vertical-padding + 1px;
      padding-left: $horizontal-padding;
      padding-right: calc(#{2 * $horizontal-padding} + var(--db-select--chevron-width));
      padding-top: $vertical-padding - 1px;
    }

    svg {
      right: $horizontal-padding;
    }
  }
}
