.db-track {
  @include db-text-style('copy', 's');
  background: var(--db-track-background-color);
  display: inline-block;
  color: var(--db-track-text-color);
  font-weight: db-font-weight('copy', 'bold');

  abbr {
    text-decoration: none;
  }
}

.db-track__fragment {
  margin-left: 0.1em;
}

.db-track__separator {
  margin: 0 0.05em;
}

@mixin db-track--sizes($prefix) {
  @each $size in (xl l m s xs) {
    $textsize: db-component-textsize($size);

    .#{$prefix}db-track--size-#{$size} {
      border-radius: db-border-radius($size);
      font-size: db-font-size('copy', $textsize);
      height: db-size($size);
      line-height: db-line-height('copy', $textsize);
      padding: #{(db-size($size) - db-line-height('copy', $textsize)) *
        0.5}
        #{(db-size($size) - db-line-height('copy', $textsize)) *
        0.5 +
        db-spacing('xs')};
    }
  }
}
@include db-track--sizes('');

@include db-tablet {
  @include db-track--sizes('t\\:');
}

@include db-desktop {
  @include db-track--sizes('d\\:');
}
