@import '@bahn-x/dbx-foundation/abstracts.scss';

// TODO: replace with DBX colors as soon as they are available in DBX Web
$notification-variants: (
  info: (
    foreground-color: #0a1e6e,
    background-color: #e0effb
  ),
  warning: (
    foreground-color: #a24800,
    background-color: #f7eee6
  ),
  error: (
    foreground-color: #9b000e,
    background-color: #fee6e6
  ),
  success: (
    foreground-color: #165c27,
    background-color: #e2f3e5
  )
);

.dbx-notification {
  @include dbx-text-style('copyS');
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: dbx-spacing('16');
  color: dbx-color('white');
  background-color: dbx-color('darkGrey');
  border-style: solid;
  border-width: 0 0 0 4px;
  border-radius: 4px;
}

.dbx-notification + .dbx-notification {
  margin-top: dbx-spacing('16');
}

.dbx-notification__icon {
  margin-right: dbx-spacing('16');
}

.dbx-notification__close-btn {
  $button-padding: 10px;

  padding: $button-padding;
  margin: $button-padding * -1;
  margin-left: dbx-spacing('16') - $button-padding;
  background-color: transparent;
  appearance: none;

  @include dbx-focus-ring($target: 'svg') {
    border-radius: 4px;
  };
}

.dbx-notification__icon,
.dbx-notification__close-btn {
  svg {
    display: block;
    fill: currentColor;
  }
}

.dbx-notification__content {
  text-align: left;
  flex-grow: 1;
}

.dbx-notification__title {
  display: block;
  font-weight: bold;
}

.dbx-notification--global {
  border-width: 1px 1px 1px 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@each $variant, $options in $notification-variants {
  .dbx-notification--#{$variant} {
    color: map-get($options, 'foreground-color');
    background-color: map-get($options, 'background-color');
    border-color: map-get($options, 'foreground-color');
  }
}

.dbx-notification-portal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 64rem;
  padding: dbx-spacing('16');
}
