@import '@bahn-x/dbx-foundation/abstracts.scss';

// TODO: replace with DBX colors as soon as they are available in DBX Web
$notification-variants: (
  info: (
    foreground-color: #0a1e6e,
    background-color: #e0effb,
    hover-color: #b4d5f6
  ),
  warning: (
    foreground-color: #a24800,
    background-color: #f7eee6,
    hover-color: #ecd5c5
  ),
  error: (
    foreground-color: #9b000e,
    background-color: #fee6e6,
    hover-color: #fcc8c3
  ),
  success: (
    foreground-color: #165c27,
    background-color: #e2f3e5,
    hover-color: #bddbb9
  )
);

.dbx-notification {
  @include dbx-text-style('copyS');
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: dbx-spacing('16');
  color: dbx-color('white');
  background-color: dbx-color('darkGrey');
  border-style: solid;
  border-width: 0 0 0 4px;
  border-radius: 4px;
}

.dbx-notification + .dbx-notification {
  margin-top: dbx-spacing('16');
}

.dbx-notification__icon {
  margin-right: dbx-spacing('16');
}

.dbx-notification__variant {
  @include dbx-visually-hidden;
}

/**
 * 1. the icon size is 24px, but we want a nice, Apple HIG-complaint
 *     tap target size of 44x44px, so we add 10px padding everywhere
 * 2. for hover and active states, we don't want the button size to be
 *    44px large visually to maintain decent margins, so we style
 *    the inner close-icon wrapper instead of the whole button
 * 3. we don't want the padding to increase the overall component
 *     dimensions, so we subtract it from the margins
 */
.dbx-notification__close-btn {
  $button-padding: 10px; /* 1 */

  @include dbx-focus-ring($target: '.dbx-notification__close-icon'); /* 2 */
  margin: $button-padding * -1; /* 3 */
  margin-left: dbx-spacing('16') - $button-padding;
  background-color: transparent;
  appearance: none;

  .dbx-notification__close-icon {
    display: block;
    padding: $button-padding * 0.2; /* 2 */
    margin: $button-padding * 0.8; /* 2 */
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
  }
}

.dbx-notification__icon,
.dbx-notification__close-icon {
  svg {
    display: block;
    fill: currentColor;
  }
}

.dbx-notification__content {
  text-align: left;
  flex-grow: 1;
}

.dbx-notification__title {
  display: block;
  font-weight: bold;
}

.dbx-notification--global {
  border-width: 1px 1px 1px 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@each $variant, $options in $notification-variants {
  .dbx-notification--#{$variant} {
    color: map-get($options, 'foreground-color');
    background-color: map-get($options, 'background-color');
    border-color: map-get($options, 'foreground-color');
  }

  .dbx-notification--#{$variant} .dbx-notification__close-btn:hover .dbx-notification__close-icon {
    background-color: map-get($options, 'hover-color');
  }
}

/**
 * 1. Preserve a comfortably readable line length of the messages.
 *    We don't set a (min)-width as we want the notifications
 *    to take up only the miminmal amount of the space necessary to
 *    not block interactions with large parts of the site.
 */
.dbx-notification-portal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 64rem; /* 1 */
  padding: dbx-spacing('16');
}
