@import '@bahn-x/dbx-foundation/abstracts.scss';

// TODO: replace with DBX colors as soon as they are available in DBX Web
$notification-variants: ('info' 'warning' 'error' 'success');

.dbx-notification {
  @include dbx-text-style('copy', 's');
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: dbx-spacing('m');
  color: dbx-background-color('primary');
  background-color: dbx-text-color('primary');
  border-style: solid;
  border-width: 0 0 0 4px;
  border-radius: 4px;
}

.dbx-notification + .dbx-notification {
  margin-top: dbx-spacing('m');
}

.dbx-notification__icon {
  margin-right: dbx-spacing('m');
}

.dbx-notification__variant {
  @include dbx-visually-hidden;
}

/**
 * 1. the icon size is 24px, but we want a nice, Apple HIG-complaint
 *     tap target size of 44x44px, so we add 10px padding everywhere
 * 2. for hover and active states, we don't want the button size to be
 *    44px large visually to maintain decent margins, so we style
 *    the inner close-icon wrapper instead of the whole button
 * 3. we don't want the padding to increase the overall component
 *     dimensions, so we subtract it from the margins
 */
.dbx-notification__close-btn {
  $button-padding: 10px; /* 1 */

  @include dbx-focus-ring($target: '.dbx-notification__close-icon'); /* 2 */
  margin: $button-padding * -1; /* 3 */
  margin-left: dbx-spacing('m') - $button-padding;
  background-color: transparent;
  appearance: none;

  .dbx-notification__close-icon {
    display: block;
    padding: $button-padding * 0.2; /* 2 */
    margin: $button-padding * 0.8; /* 2 */
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
  }
}

.dbx-notification__icon,
.dbx-notification__close-icon {
  svg {
    display: block;
    fill: currentColor;
  }
}

.dbx-notification__content {
  text-align: left;
  flex-grow: 1;
}

.dbx-notification__title {
  display: block;
  font-weight: bold;
}

.dbx-notification--global {
  border-width: 1px 1px 1px 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@each $variant in $notification-variants {
  $color-name: if($variant == 'info', 'active', $variant);

  .dbx-notification--#{$variant} {
    color: dbx-text-color('notification.#{$color-name}');
    background-color: dbx-background-color('notification.#{$color-name}');
    border-color: dbx-text-color('notification.#{$color-name}');

    .dbx-notification__close-btn:hover .dbx-notification__close-icon {
      background-color: mix(dbx-background-color('notification.#{$color-name}'),
      dbx-text-color('notification.#{$color-name}'),
      80%);
    }
  }
}

/**
 * 1. Preserve a comfortably readable line length of the messages.
 *    We don't set a (min)-width as we want the notifications
 *    to take up only the miminmal amount of the space necessary to
 *    not block interactions with large parts of the site.
 */
.dbx-notification-portal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 64rem; /* 1 */
  padding: dbx-spacing('m');
}
