:root {
  --db-container-margin: 0 auto;
  --db-content-max-width: calc(100vw - #{2 * db-spacing('m')});
  --db-extended-max-width: calc(100vw - #{2 * db-spacing('sm')});
  --db-text-max-width: calc(100vw - #{2 * db-spacing('sm')});
  --db-content-margin: auto;
  --db-extended-margin: auto;
  --db-content-in-extended-margin: auto;
  /* stylelint-disable-next-line length-zero-no-unit */
  --db-sidebar-width: 0px; // do not remove px otherwise calc(var(..)) won’t work anymore.

  @media (min-width: #{8 * db-spacing('xxxl')}) {
    --db-content-max-width: calc(100vw - #{2 * db-spacing('xxl')});
    --db-extended-max-width: calc(100vw - #{2 * db-spacing('xl')});
    --db-text-max-width: #{6 * db-spacing('xxxl')};
  }

  @media (min-width: #{12 * db-spacing('xxxl')}) {
    --db-content-max-width: #{10 * db-spacing('xxxl')};
    --db-extended-max-width: #{12 * db-spacing('xxxl')};
  }
}

.db-layout--left-aligned {
  background: linear-gradient(to right,
  #{db-color('brand')} var(--db-sidebar-width),
  transparent 0);
  padding-left: var(--db-sidebar-width);

  @media (min-width: #{8 * db-spacing('xxxl')}) {
    --db-sidebar-width: #{2 * db-spacing('xxxl')};
    --db-content-margin: #{db-spacing('xxl')};
    --db-extended-margin: #{db-spacing('xl')};
    --db-content-in-extended-margin: #{db-spacing('xl')};
    --db-content-max-width: calc(100vw - 2 * var(--db-content-margin) - var(--db-sidebar-width));
    --db-extended-max-width: calc(100vw - 2 * var(--db-extended-margin) - var(--db-sidebar-width));
    --db-content-in-extended-margin: calc(var(--db-content-margin) - var(--db-extended-margin));
  }

  @media (min-width: #{13 * db-spacing('xxxl')}) {
    --db-sidebar-width: #{3 * db-spacing('xxxl')};
    --db-content-max-width: #{8 * db-spacing('xxxl')};
    --db-extended-max-width: #{9 * db-spacing('xxxl')};
    --db-content-margin: #{db-spacing('xxxl')};
    --db-extended-margin: #{db-spacing('xl')};
    --db-content-in-extended-margin: calc(var(--db-content-margin) - var(--db-extended-margin));
  }
}
