@import '@bahn-x/dbx-foundation/abstracts.scss';
@import 'theme/theme.scss';

.dbx-inline-spacer {
  font-size: 0;
  margin-left: dbx-spacing('m');
  margin-top: dbx-spacing('m');

  &:last-child {
    margin: 0;
  }
}
