table.wrapper.dbx-email-body td.dbx-email-body-inner {
  padding-top: dbx-spacing('l');
  padding-bottom: dbx-spacing('xl');
  padding-left: dbx-spacing('xl');
  padding-right: dbx-spacing('xl');
}

/**
 * 1. for some reason, Outlook requires the margin property
 *    to start with a capital 'M'
 */
table.wrapper.dbx-email-body {
  a {
    font-weight: bold;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: dbx-spacing('ml');
    Margin-top: dbx-spacing('ml'); /* 1 */

    margin-bottom: dbx-spacing('s');
    Margin-bottom: dbx-spacing('s'); /* 1 */
  }
}
