/* stylelint-disable order/order */

.DISPLAY {
  @extend %db-branded-theme-base;

  // BRAND

  // GENERAL
  --db-primary-background-color: #213a7e;
  --db-darker-background-color: #{db-color('blue800')};
  --db-primary-text-color: #{db-color('white')};
  --db-secondary-text-color: #{db-color('blue200')};
  --db-disabled-text-color: #3e68ac;
  --db-border-color: #3e5c90;
  --db-loud-border-color: #{db-color('blue100')};

  // ACCESSIBILITY
  --db-focus-ring-color: #{db-color('cyan100', 0.4)};

  // LINKS
  --db-link-color: #{db-color('cyan300')};
  --db-link-hover-color: #{db-color('cyan400')};
  --db-link-pressed-color: #{db-color('cyan500')};
  --db-link-underline-color: #{db-link-color(db-color('cyan300'))};
  --db-secondary-link-underline-color: #{db-link-color(#fff)};

  // FIELDS
  --db-caret-color: #387df5;

  // PRIMARY BUTTON
  --db-primary-button-background-color: #{db-color('white')};
  --db-primary-button-hover-background-color: #{db-color('blue100')};
  --db-primary-button-pressed-background-color: #{db-color('blue200')};
  --db-primary-button-text-color: #{db-color('black')};
  --db-primary-button-hover-text-color: #{db-color('black')};
  --db-primary-button-pressed-text-color: #{db-color('black')};
  --db-primary-button-disabled-text-color: #{darken(#213a7e, 3%)};

  // SECONDARY BUTTON
  --db-secondary-button-hover-background-color: #{db-color('blue600')};
  --db-secondary-button-pressed-background-color: #{db-color('blue500')};

  // SOLID + HOVER-ONLY BUTTON
  --db-solid-button-background-color: #142a65;
  --db-solid-button-hover-background-color: #0a1a44;
  --db-solid-button-pressed-background-color: #030d27;

  // TRACK
  // TIME

  // SEVERITY
  --db-success-on-background-color: #038531;
  --db-warning-on-background-color: #e73504;
  --db-informative-on-background-color: #121e3f;

  // CHECKBOX + RADIO BUTTON
  // TRANSPORTCHIP
}
