$focus-ring-transition: box-shadow 0.3s !default;
$focus-ring-color: rgba(db-color('blue600'), 0.25) !default;
$focus-ring-offset: 2px !default;
$focus-ring-size: 3px !default;
$focus-ring-grow: 5px !default;
