.dbx-triptime {
  display: inline-flex;
  flex-direction: column;
  font-weight: normal;

  .dbx-time + .dbx-time {
    margin-top: -2px;
  }
}

.dbx-triptime--bold {
  font-weight: dbx-font-weight('copy', 'bold');
}

.dbx-triptime--slightly-delayed,
.dbx-triptime--delayed {
  border-radius: dbx-border-radius('s');
  margin: 0 -0.3em;
  padding: 0 0.3em;
}

.dbx-triptime--slightly-delayed {
  background: var(--dbx-on-time-background-color);
  color: var(--dbx-on-time-light-text-color);

  &.dbx-triptime--bold {
    color: var(--dbx-on-time-light-text-color);
  }
}

.dbx-triptime--delayed {
  background: var(--dbx-delayed-background-color);
  color: var(--dbx-delayed-light-text-color);

  &.dbx-triptime--bold {
    color: var(--dbx-delayed-light-text-color);
  }
}
