.db-triptime {
  display: inline-flex;
  flex-direction: column;
  font-weight: normal;

  .db-time + .db-time {
    margin-top: -2px;
  }
}

.db-triptime--bold {
  font-weight: db-font-weight('copy', 'bold');
}

.db-triptime--slightly-delayed,
.db-triptime--delayed {
  border-radius: db-border-radius('s');
  margin: 0 -0.3em;
  padding: 0 0.3em;
}

.db-triptime--slightly-delayed {
  background: var(--db-on-time-background-color);
  color: var(--db-on-time-light-text-color);

  &.db-triptime--bold {
    color: var(--db-on-time-light-text-color);
  }
}

.db-triptime--delayed {
  background: var(--db-delayed-background-color);
  color: var(--db-delayed-light-text-color);

  &.db-triptime--bold {
    color: var(--db-delayed-light-text-color);
  }
}
