.dbx-triptime {
  display: inline-flex;
  flex-direction: column;
  font-weight: normal;

  .dbx-time + .dbx-time {
    margin-top: dbx-spacing('xs', $negative: true);
  }
}

.dbx-triptime--bold {
  font-weight: dbx-font-weight('copy', 'bold');
}

.dbx-triptime--slightly-delayed {
  color: #467a18;

  &.dbx-triptime--bold {
    color: #508b1b;
  }
}

.dbx-triptime--delayed {
  color: #db0014;

  &.dbx-triptime--bold {
    color: #ec0016;
  }
}
