@import '@bahn-x/dbx-foundation/abstracts.scss';
@import '@bahn-x/dbx-foundation/mixins/focus-ring';

@mixin dbx-button(
  $bg-color,
  $bg-color--hover,
  $bg-color--pressed,
  $bg-color--disabled,
  $text-color,
  $text-color--hover,
  $text-color--pressed,
  $text-color--disabled,
  $border-color: transparent,
  $border-color--hover: transparent,
  $border-color--pressed: transparent,
  $border-color--disabled: transparent
) {
  @include dbx-button-reset;
  @include dbx-text-style('copy');
  @include dbx-focus-ring(
    $transition:
    'background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in'
  );
  align-items: center;
  display: inline-flex;
  background-color: $bg-color;
  justify-content: center;
  text-decoration: none;
  border: dbx-border-width('button') solid
    if($border-color == none, transparent, $border-color);
  color: $text-color;
  cursor: pointer;

  &.dbx-button--disabled,
  &.dbx-button--disabled:hover,
  &.dbx-button--disabled:active,
  &.dbx-button--disabled:focus {
    color: $text-color--disabled;
    background-color: $bg-color--disabled;
    border-color: $border-color--disabled;
    cursor: default;
  }

  &:hover,
  &.dbx-button--loading,
  &.dbx-button--loading:active,
  &.dbx-button--loading:focus {
    background-color: $bg-color--hover;
    color: $text-color--hover;
    border-color: $border-color--hover;
  }

  &:active {
    background-color: $bg-color--pressed;
    color: $text-color--pressed;
    border-color: $border-color--pressed;
  }
}

.dbx-button--block {
  display: block;
  width: 100%;
}

.dbx-button--primary {
  @include dbx-button(
    $bg-color: var(--dbx-primary-button-background-color),
    $bg-color--hover: var(--dbx-primary-button-hover-background-color),
    $bg-color--pressed: var(--dbx-primary-button-pressed-background-color),
    $bg-color--disabled: var(--dbx-primary-button-disabled-background-color),
    $text-color: var(--dbx-primary-button-text-color),
    $text-color--hover: var(--dbx-primary-button-hover-text-color),
    $text-color--pressed: var(--dbx-primary-button-pressed-text-color),
    $text-color--disabled: var(--dbx-primary-button-disabled-text-color)
  );
  font-weight: dbx-font-weight('copy', 'bold');
}

.dbx-button--secondary {
  @include dbx-button(
    $bg-color: var(--dbx-secondary-button-background-color),
    $bg-color--hover: var(--dbx-secondary-button-hover-background-color),
    $bg-color--pressed: var(--dbx-secondary-button-pressed-background-color),
    $bg-color--disabled: var(--dbx-secondary-button-disabled-background-color),
    $text-color: var(--dbx-secondary-button-text-color),
    $text-color--hover: var(--dbx-secondary-button-hover-text-color),
    $text-color--pressed: var(--dbx-secondary-button-pressed-text-color),
    $text-color--disabled: var(--dbx-secondary-button-disabled-text-color),
    $border-color: var(--dbx-loud-border-color),
    $border-color--hover: var(--dbx-loud-border-color),
    $border-color--pressed: var(--dbx-loud-border-color)
  );
}

.dbx-button--solid {
  @include dbx-button(
    $bg-color: var(--dbx-solid-button-background-color),
    $bg-color--hover: var(--dbx-solid-button-hover-background-color),
    $bg-color--pressed: var(--dbx-solid-button-pressed-background-color),
    $bg-color--disabled: var(--dbx-solid-button-disabled-background-color),
    $text-color: var(--dbx-solid-button-text-color),
    $text-color--hover: var(--dbx-solid-button-hover-text-color),
    $text-color--pressed: var(--dbx-solid-button-pressed-text-color),
    $text-color--disabled: var(--dbx-solid-button-disabled-text-color)
  );
}

.dbx-button--hover-only {
  @include dbx-button(
    $bg-color: transparent,
    $bg-color--hover: var(--dbx-solid-button-background-color),
    $bg-color--pressed: var(--dbx-solid-button-hover-background-color),
    $bg-color--disabled: transparent,
    $text-color: var(--dbx-solid-button-text-color),
    $text-color--hover: var(--dbx-solid-button-hover-text-color),
    $text-color--pressed: var(--dbx-solid-button-pressed-text-color),
    $text-color--disabled: var(--dbx-solid-button-disabled-text-color)
  );
}

@each $size in (xl l m s xs) {
  .dbx-button--#{$size} {
    @include dbx-component-text-style($size, 'button');
    @include dbx-component-padding($size, 'button');

    border-radius: dbx-border-radius($size);
    min-height: dbx-size($size);
    min-width: 4 * dbx-size($size);

    &.dbx-button--default:not(.dbx-button--loading) > svg {
      margin-right: dbx-component-icon-gap(dbx-component-textsize($size));
    }

    &.dbx-button--square,
    &.dbx-button--round {
      padding: dbx-component-vertical-padding($size, 'button');
      padding: (dbx-size($size) - dbx-icon-size('m')) /
        2 -
        dbx-border-width('button');
      min-width: dbx-size($size);
      width: dbx-size($size);
    }
  }
}

.dbx-button--square,
.dbx-button--round,
.dbx-button--solid,
.dbx-button--hover-only {
  min-width: unset;
}

.dbx-button--loading {
  .dbx-loadingindicator {
    background: inherit;
    position: absolute;
    min-width: inherit;
    border-left: inherit;
    border-right: inherit;
  }
}

.dbx-button--round {
  border-radius: 50%;
}

.dbx-button [aria-hidden='false'] {
  @include dbx-visually-hidden;
}
