@import '@bahn-x/dbx-foundation/abstracts.scss';

.db-code {
  // GitHub uses this stack, so it can't be bad :p
  background-color: var(--db-secondary-background-color);
  color: var(--db-primary-text-color);

  // inline style ('inline' prop == true)
  &--inline {
    padding: (db-line-height('copy', 's') - db-font-size('copy', 's')) / 2;
    border-radius: db-border-radius('s');
  }

  // block style ('inline' prop == false)
  &--block {
    @include db-focus-ring;
    white-space: pre;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: db-spacing('sm') db-spacing('m');
    border-radius: db-border-radius('l');
  }

  &--inline,
  &--block &__inner {
    font-family: $db-code-font-stack;
    font-size: db-font-size('copy', 's');
    line-height: db-line-height('copy', 's');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .token.script {
    color: db-palette-color('blue700');
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata,
  .token.punctuation {
    color: var(--db-secondary-text-color);
    font-weight: normal;
  }

  .token.number {
    color: db-palette-color('green600');
    font-weight: normal;
  }

  .token.property,
  .token.deleted {
    color: db-palette-color('cyan600');
    font-weight: normal;
  }

  .token.namespace,
  .token.constant,
  .token.boolean {
    color: db-palette-color('blue700');
    font-weight: normal;
  }

  .token.string,
  .token.char,
  .token.attr-value {
    color: db-palette-color('lightgreen600');
    font-weight: normal;
  }

  .token.symbol,
  .token.selector,
  .token.attr-name,
  .token.builtin,
  .token.url,
  .token.inserted {
    color: db-palette-color('blue400');
    font-weight: normal;
  }

  .token.entity {
    color: db-palette-color('green400');
    font-weight: normal;
  }

  .token.tag,
  .token.atrule,
  .token.keyword {
    color: db-palette-color('blue500');
    font-weight: bold;
  }

  .token.function {
    color: db-palette-color('turquoise600');
    font-weight: normal;
  }

  .token.regex,
  .token.important {
    color: db-palette-color('lightgreen500');
    font-weight: normal;
  }

  .token.variable {
    color: db-palette-color('violet600');
    font-weight: normal;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.interpolation-punctuation {
    color: db-palette-color('green400');
  }

  .token.operator,
  .token.title {
    color: db-palette-color('coolgray500');
  }
}
