@import '@db-design/styles/abstracts.scss';

$db-select-text-style: 'copy';
$db-select-border-width: db-border-width('input');
$db-select-adjustment: 1px;
$db-select-padding-horizontal: db-spacing('m') - $db-select-border-width;
$db-select-padding-vertical: db-spacing('m') - $db-select-border-width;
$db-select-padding-top: $db-select-padding-vertical - $db-select-adjustment;
$db-select-padding-bottom: $db-select-padding-vertical + $db-select-adjustment;
$db-select-chevron-width: 16px;
$db-select-chevron-margin: 16px;

.db-select {
  @include db-text-style($db-select-text-style);
  @include db-focus-ring(
    $focus-selector: '.db-select--focus',
    $transition: 'border 200ms'
  );
  align-items: stretch;
  background-color: var(--db-secondary-background-color);
  border: db-border-width('input') solid var(--db-secondary-background-color);
  border-radius: db-border-radius('xl');
  box-sizing: border-box;
  color: var(--db-primary-text-color);
  display: inline-flex;
  position: relative;

  &--disabled {
    background: transparent;
    border-color: var(--db-secondary-background-color);
    color: var(--db-disabled-text-color);
  }

  /**
   * 1. do not apply browser-default select styles
   */
  select {
    appearance: none; /* 1 */
    border: 0;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    flex: 1;
    padding: $db-select-padding-top
      (
        $db-select-padding-horizontal + $db-select-chevron-width +
        $db-select-chevron-margin
      )
      $db-select-padding-bottom $db-select-padding-horizontal;
    outline: 0;
    width: inherit;
  }

  /**
   * 1. hide browser-default dropdown arrow in IE11
   */
  select::-ms-expand {
    display: none; /* 1 */
  }

  svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: $db-select-chevron-margin;
    transform: translateY(-50%);
    width: $db-select-chevron-width;
  }
}
